<html>
<body>
<main>
  <div class="container">
    <div class="row">
      <!--   left panel   -->
      <div class="col-sidebar sidebar">
        <!--  sidebar: movies category  -->
        <ul class="s-explore">
          <!--     in theaters -->
          <li class="s-explore__title"><h3>In Theaters</h3></li>
          <li class="s-explore__item"><a href="#">opening this week</a></li>
          <li class="s-explore__item"><a href="#">top box office</a></li>
          <li class="s-explore__item"><a href="#">coming soon</a></li>
          <li class="s-explore__item"><a href="#">certified fresh movies</a></li>

          <!--     dvds -->
          <li class="s-explore__title"><h3>dvd & streaming movies</h3></li>
          <li class="s-explore__item"><a href="#">browser all</a></li>
          <li class="s-explore__item"><a href="#">top DVD & streaming</a></li>
          <li class="s-explore__item"><a href="#">coming soon</a></li>
          <li class="s-explore__item"><a href="#">certified fresh movies</a></li>

          <!--     tv -->
          <li class="s-explore__title"><h3>TV</h3></li>
          <li class="s-explore__item"><a href="#">new TV tonight</a></li>
          <li class="s-explore__item"><a href="#">most popular tv on RT</a></li>
          <li class="s-explore__item"><a href="#">certified fresh TV</a></li>

        </ul>

        <!--  2nd box  -->
        <ul class="s-explore">
          <!--     in theaters -->
          <li class="s-explore__title"><h3>You may also like</h3></li>
          <li class="s-explore__item"><a href="#">Blade Runner 2049</a><span class="s-explore__rating">4.9/5.0</span>
          </li>
          <li class="s-explore__item"><a href="#">Coco</a><span class="s-explore__rating">4.9/5.0</span>
          </li>
          <li class="s-explore__item"><a href="#">Call Me By Your Name</a><span class="s-explore__rating">4.9/5.0</span>
          </li>
          <li class="s-explore__item"><a href="#">Lady Bird</a><span
            class="s-explore__rating">4.9/5.0</span></li>
          <li class="s-explore__item"><a href="#">Blade Runner 2049</a><span class="s-explore__rating">4.9/5.0</span>
          </li>
          <li class="s-explore__item"><a href="#">Coco</a><span class="s-explore__rating">4.9/5.0</span>
          </li>
          <li class="s-explore__item"><a href="#">Call Me By Your Name</a><span class="s-explore__rating">4.9/5.0</span>
          </li>
          <li class="s-explore__item"><a href="#">Lady Bird</a><span
            class="s-explore__rating">4.9/5.0</span></li>
          <li class="s-explore__item"><a href="#">Blade Runner 2049</a><span class="s-explore__rating">4.9/5.0</span>
          </li>
          <li class="s-explore__item"><a href="#">Coco</a><span class="s-explore__rating">4.9/5.0</span>
          </li>
          <li class="s-explore__item"><a href="#"><span style="color: white;">more <i
            class="fa fa-angle-right"></i></span></a></li>
        </ul>

        <!--  3rd box  -->
        <ul class="s-explore s-users">
          <li class="s-explore__title"><h3 style="margin-bottom: 0.7em;">Who watched this movie</h3></li>
          <!--  a list of 3 users -->
          <li class="container">
            <ul class="row s-users-avatars">
              <li class="col-avatars s-users__item"><a href="#"><img
                src="https://user-images.githubusercontent.com/20979257/36620069-64e71fbe-18bf-11e8-87e8-565e2fc4d6da.jpeg"
                alt="user"/><span>I am</span></a></li>
              <li class="col-avatars s-users__item"><a href="#"><img
                src="https://user-images.githubusercontent.com/20979257/36620076-68d7d546-18bf-11e8-9fd9-e2c313cac2fc.jpeg"
                alt="user"/><span>Cinema</span></a></li>
              <li class="col-avatars s-users__item"><a href="#"><img
                src="https://user-images.githubusercontent.com/20979257/36620079-69e311f8-18bf-11e8-99c6-9ceb6c267f9e.jpeg"
                alt="user"/><span>Paradiso</span></a></li>

              <li class="col-avatars s-users__item"><a href="#"><img
                src="https://user-images.githubusercontent.com/20979257/36620069-64e71fbe-18bf-11e8-87e8-565e2fc4d6da.jpeg"
                alt="user"/><span>I am</span></a></li>
              <li class="col-avatars s-users__item"><a href="#"><img
                src="https://user-images.githubusercontent.com/20979257/36620076-68d7d546-18bf-11e8-9fd9-e2c313cac2fc.jpeg"
                alt="user"/><span>Cinema</span></a></li>
              <li class="col-avatars s-users__item"><a href="#"><img
                src="https://user-images.githubusercontent.com/20979257/36620079-69e311f8-18bf-11e8-99c6-9ceb6c267f9e.jpeg"
                alt="user"/><span>Paradiso</span></a></li>

              <li class="col-avatars s-users__item"><a href="#"><img
                src="https://user-images.githubusercontent.com/20979257/36620069-64e71fbe-18bf-11e8-87e8-565e2fc4d6da.jpeg"
                alt="user"/><span>I am</span></a></li>
              <li class="col-avatars s-users__item"><a href="#"><img
                src="https://user-images.githubusercontent.com/20979257/36620076-68d7d546-18bf-11e8-9fd9-e2c313cac2fc.jpeg"
                alt="user"/><span>Cinema</span></a></li>
              <li class="col-avatars s-users__item"><a href="#"><img
              src="https://user-images.githubusercontent.com/20979257/36620079-69e311f8-18bf-11e8-99c6-9ceb6c267f9e.jpeg"
              alt="user"/><span>Paradiso</span></a></li>
            </ul>
          </li> <!-- ./end 3rd row users -->
          <li class="s-explore__item"><a href="#"><span style="color: white;">more <i
            class="fa fa-angle-right"></i></span></a></li>
        </ul>

      </div> <!-- ./end left panel -->

      <!--  right panel -->
      <div class="col-right content-wrap">
        <!-- poster -->
        <div class="r_poster">
          <a href="#" class="r_poster--play"><i class="fa fa-play fa-2x"></i></a>
        </div>
        <!-- ratings -->
        <div class="container">
          <div class="row">

            <!--<ngb-rating [rate]="4.2"></ngb-rating>-->

          </div> <!-- ./end row -->
        </div>
        <!-- ./end ratings -->

        <div class="r__buttons">
          <button class="o-button o-button--gray">+ Watchlist</button>
          <button class="o-button">+ Wishlist</button>
        </div>

        <!-- movie info -->
        <div class="md_wrap">
          <h4 class="md-title"><span>The Shape of Water </span></h4>


          <p class="md-plot">From master story teller, Guillermo del Toro, comes THE SHAPE OF WATER - an
            other-worldly fairy tale, set against the backdrop of Cold War era America circa 1962.
            In the hidden high-security government laboratory where she works, lonely Elisa (Sally
            Hawkins) is trapped in a life of isolation.
            Elisa's life is changed forever when she and co-worker Zelda (Octavia Spencer) discover a
            secret classified experiment.
            Rounding out the cast are Michael Shannon, Richard Jenkins, Doug Jones and Michael
            Stuhlbarg.</p>

          <p>
            Director <span> <a href="people.html">Guillermo del Toro</a></span>
          </p>
          <p>
            Starring <span><a href="people.html">Sally Hawkins,</a>
                                       <a href="people.html">Octavia Spencer, </a>
                                      <a href="people.html">Michael Shannon</a> </span>
          </p>
          <p>
            Genre
            <span>
                                <a href="search_result.html">Adventure, </a>
                                <a href="search_result.html">Drama, </a>
                                <a href="search_result.html">Fantasy, </a>
                                <a href="search_result.html">Horror, </a>
                                <a href="search_result.html">Romance</a>
                            </span>
          </p>

        </div>


        <!-- 	1st section	videos -->
        <section class="md_wrap">
          <h2 class="md-title"><span>VIDEOS</span></h2>
          <!--<a class="l-cards__more" href="#">more <i class="fa fa-angle-double-right"></i></a>-->

          <ul class="container md-list__videos">
            <li class="row md-list__item">
              <object class="col-video item__detail"
                      data="https://www.youtube.com/embed/uiA4B5Y63IQ?hd=1&rel=0&autohide=1&showinfo=0">
              </object>

              <object class="col-video item__detail"
                      data="https://www.youtube.com/embed/zwmTb-aAdJg?hd=1&rel=0&autohide=1&showinfo=0">
              </object>
              <object class="col-video item__detail"
                      data="https://www.youtube.com/embed/T6pk194roPI?hd=1&rel=0&autohide=1&showinfo=0">
              </object>
            </li>
          </ul>
        </section>
        <!-- 	end 1st section	 -->

        <!-- 	2nd section	photos -->
        <section class="md_wrap">
          <h2 class="md-title"><span>PHOTOS</span></h2>
          <!--<a class="l-cards__more" href="#">more <i class="fa fa-angle-double-right"></i></a>-->
          <ul class="container md-list__photos">
            <li class="row md-list__item">

              <a class="col-photos item__detail" href="https://resizing.flixster.com/n73JS3_l-gc6pDy4BoUhrKI8zuE=/fit-in/1152x864/v1.bjsxNjc1NTk3O2o7MTc2NTk7MTIwMDsxOTIwOzEwODA"><img
                src="https://resizing.flixster.com/hrYegFtVsVik43RWyJ0WY9YTL-k=/300x300/v1.bjsxNjc1NTk3O2o7MTc2NTk7MTIwMDsxOTIwOzEwODA"></a>
              <a href="#"></a>

              <a class="col-photos item__detail"  href="#"><img
                src="https://resizing.flixster.com/ZcrQRR56v1Iujg0tyFcCRUh2t6I=/300x300/v1.bjsxNzEyMzc1O2o7MTc2NTk7MTIwMDs1MDQ4OzMzNjU"></a>
              <a href="#"></a>

              <a class="col-photos item__detail" href="#"><img
                src="https://resizing.flixster.com/R1yLnakfZ0pIhRZ7q34YgeSO7HQ=/300x300/v1.bjsxNzEyMzc2O2o7MTc2NTk7MTIwMDsyMDQ4OzExNTI"></a>
              <a href="#"></a>

              <a class="col-photos item__detail"  href="#"><img
                src="https://resizing.flixster.com/O3mc7G_lbMXNSsaWcVOt6skTJrs=/300x300/v1.bjsxNzEyMzc3O2o7MTc2NTk7MTIwMDsyMDQ4OzExNTI"></a>
              <a href="#"></a>

            </li>

          </ul>
        </section>
        <!-- end 2nd section -->

        <!-- 	3rd section	cast -->
        <section class="md_wrap">
          <h2 class="md-title"><span>CAST</span></h2>
          <!--<a class="l-cards__more" href="#">more <i class="fa fa-angle-double-right"></i></a>-->
          <ul class="container md-list__casts">
            <li class="row md-list__item">
              <a class="col-casts item__detail" routerLink="/celebrity"><img src="../../../assets/images/cast/SALLY_HAWKINS.PNG"><span>SALLY HAWKINS</span></a>

              <a  class="col-casts item__detail" href="people.html"><img src="../../../assets/images/cast/RICHARD_JENKINS.PNG"><span>RICHARD JENKINSS</span></a>

              <a  class="col-casts item__detail" href="people.html"><img src="../../../assets/images/cast/DOUG-JONES.PNG"><span>DOUG JONES</span></a>

              <a  class="col-casts item__detail" href="people.html"><img src="../../../assets/images/cast/MICHAEL_STUHLBARG.PNG"><span>MICHAEL STUHLBARG</span></a>

              <!--<a  class="col-casts item__detail" href="people.html"><img src="../../../assets/images/cast/OCTAVIA_SPENCER.PNG"><span>OCTAVIA SPENCER</span></a>-->

              <!--<a  class="col-casts item__detail" href="people.html"><img src="../../../assets/images/cast/LAUREN_LEE_SMITH.PNG"><span>LAUREN LEE SMITH</span></a>-->

              <!--<a  class="col-casts item__detail" href="people.html"><img src="../../../assets/images/cast/LAUREN_LEE_SMITH.PNG"><span>LAUREN LEE SMITH</span></a>-->
            </li>

          </ul>
        </section>
        <!-- end 3rd section -->

        <!-- 	4th section	critic reviews -->
        <section class="md_wrap">
          <h2 class="md-title"><span>CRITIC REVIEWS</span></h2>
          <a class="md-more" href="#">more <i class="fa fa-angle-double-right"></i></a>
          <div class="container">
          <div class="row">
            <!--<div class="col-md-12">-->
              <!--<div id="testimonial-slider" class="owl-carousel">-->
                <div class="col-testimonial testimonial">
                  <div class="testimonial-content">
                    <div class="testimonial-icon">
                      <i class="fa fa-quote-left"></i>
                    </div>
                      <p class="t_description">
                        The movie's worldview is as easy to like as the protagonist and her
                        friends, but del Toro lays it on so thick that there's no room for
                      </p>
                  </div>
                  <h3 class="title">John</h3>
                  <span class="post">Top Critics</span>
                </div>

                <div class="col-testimonial testimonial">
                  <div class="testimonial-content">
                    <div class="testimonial-icon">
                      <i class="fa fa-quote-left"></i>
                    </div>
                      <p class="t_description">
                        "The Shape of Water" is director Guillermo del Toro's finest film, a
                        lovely, empathetic tribute to Old Hollywood

                      </p>
                  </div>
                  <h3 class="title">Kelle</h3>
                  <span class="post">Top Critics</span>
                </div>

                <div class="col-testimonial testimonial">
                  <div class="testimonial-content">
                    <div class="testimonial-icon">
                      <i class="fa fa-quote-left"></i>
                    </div>
                      <p class="t_description">
                        The more I try to find some kind of justifiable meaning and
                        relevance, the more I find The Shape of Water a loopy
                      </p>
                  </div>
                  <h3 class="title">Steven</h3>
                  <span class="post">Top Critics</span>
                </div>

                <!--<div class="col-testimonial testimonial">-->
                  <!--<div class="testimonial-content">-->
                    <!--<div class="testimonial-icon">-->
                      <!--<i class="fa fa-quote-left"></i>-->
                    <!--</div>-->
                    <!--<div class="l_description">-->
                      <!--<p class="description">-->
                        <!--The visual stylist spins an adult fairy tale that takes elements-->
                        <!--from "Beauty and the Beast" and recasts them in an alternative-->
                        <!--universe that's a wonderfully rendered twist on our own.-->
                      <!--</p>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<h3 class="title">Peter</h3>-->
                  <!--<span class="post">Top Critics</span>-->
                <!--</div>-->
              </div>
          </div>
            <!--</div>-->
          <!--</div>-->

        </section>

        <!-- 	4th section	audience reviews -->
        <section class="md_wrap">
          <h2 class="md-title"><span>AUDIENCE REVIEWS</span></h2>
          <a class="md-more" href="#">more <i class="fa fa-angle-double-right"></i></a>
          <div class="container">
          <div class="row">
            <!--<div class="col-md-12">-->
              <!--<div id="testimonial-slider2" class="owl-carousel">-->
                <div class="col-testimonial testimonial">
                  <div class="testimonial-content">
                    <div class="testimonial-icon">
                      <i class="fa fa-quote-left"></i>
                    </div>
                      <p class="t_description">
                        The Shape of Water is an ingenious fantasy romance that utilizes
                        cold war era elements to the advantage of its premise while subtly

                      </p>
                  </div>
                  <h3 class="title">Drake Tsui</h3>
                  <span class="post">Super Reviewer</span>
                </div>
                <div class="col-testimonial testimonial">
                  <div class="testimonial-content">
                    <div class="testimonial-icon">
                      <i class="fa fa-quote-left"></i>
                    </div>
                      <p class="t_description">
                        Guillermo del Toro has found himself to be quite the respected
                        filmmaker over the years but, if I had to be brutally honest, I'd

                      </p>
                  </div>
                  <h3 class="title">Mark Walker</h3>
                  <span class="post">Super Reviewer</span>
                </div>
                <div class="col-testimonial testimonial">
                  <div class="testimonial-content">
                    <div class="testimonial-icon">
                      <i class="fa fa-quote-left"></i>
                    </div>
                      <p class="t_description">
                        Like many of Del Toro's movies, I just couldn't buy into it. I found
                        myself not caring about the monster and I didn't buy the
                      </p>
                  </div>
                  <h3 class="title">Sanjay Rema</h3>
                  <span class="post">Super Reviewer</span>
                </div>

              </div>
          </div>
        </section>
        <!-- end -->

      </div> <!-- ./end right panel -->
    </div> <!-- ./row -->
  </div> <!-- ./container-fluid -->
</main>
</body>
</html>
