
$color-red: rgb(229, 9, 20);
$color-gray: rgb(100, 100, 100);
$color-light-red: #e8716d;
$link-hover: lighten(black, 60%);
$link-active: darken(gray, 30%);
$sidebar-link-hover: white;
$sidebar-link: darken(white, 20%);
$main-background: lighten(black, 10%);

@mixin cols ($width, $padding-left, $padding-right){
  width: $width;
  float:left;
  position: relative;
  min-height: 1px;
  padding-right: $padding-right;
  padding-left: $padding-left;
}

main{
  background-color: $main-background;
  height: 100%;
  padding-top: 3%;
  padding-bottom: 4%;
}

.col-sidebar {
  @include cols(31%, 1px, 1px);
}
.col-right {
  @include cols(68.5%, 0, 0);
}
.col-avatars {
  @include cols(33%, 7px, 7px);
}
.col-video {
  @include cols(33%, 0, 0);
}
.col-photos {
  @include cols(24.5%, 0, 0);

}
.col-casts {
  @include cols(24.5%, 0, 0);
}
.col-testimonial {
  @include cols(33%, 15px, 15px);
}
.col-ratings {
  @include cols(49.5%, 15px, 15px);
}
.col-profile-img {
  @include cols(23%, 15px, 15px);
}
.col-rate {
  @include cols(76.5%, 15px, 15px);
}

//.col-list-btn {
//  @include cols(23%, 15px, 15px);
//}



.sidebar {
  padding-left: 3%;
}
.content-wrap {
  padding-left: 3%;
  padding-right: 3%;
}
.s-explore {
  padding: 0.5em 0;
  border: 1px solid darken(gray, 20%);
  margin-bottom: 3%;

  .active {
    background-color: $link-active;
    a {
      color: white !important;
    }
  }

  .s-explore__title {
    padding: 0.1em 1em;
    color: white;
    h3 {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      margin: 0;
      padding: 5px 0 5px 0;
    }
  }

  .s-explore__item {
    padding: 0 1.5em;
    a {
      color: $sidebar-link !important;
      font-size: 14px;
      text-transform: capitalize;
      //padding-left: 10px;
    }
    a:hover {
      color: $sidebar-link-hover !important;
    }

    // ratings
    span {
      //float: right;
      position: absolute;
      right: 10px;
      font-size: 14px;
      padding-top: 5px;
      color: $color-red;
    }

  }

  .s-users__item {
    //padding: 0 5px;
    a {
      color: $sidebar-link !important;
      font-size: 14px;
    }
  }

  .item__more {

  }

}


// right content

.r_poster {
  vertical-align:middle;
  text-align:center;
  margin-bottom: 1em;
  position: relative;
  overflow: hidden;
  //background: url("https://images-na.ssl-images-amazon.com/images/M/MV5BZDdmMDU2OWUtMzY2NS00YmIyLWJhMGEtYzlhY2M3MTkyYTdmXkEyXkFqcGdeQXVyNDg2MjUxNjM@._V1_SX1500_CR0,100,1500,500_AL_.jpg") no-repeat;
  background-size: cover;
  height: 15em;
}

// the play button
.r_poster--play {
  position: absolute;
  box-sizing: border-box;
  display:inline-block;
  top: 30%;
  left: 45%;
  width:80px;
  height:80px;
  padding-top: 14px;
  padding-left: 8px;
  line-height: 20px;
  border: 6px solid #fff;
  border-radius: 50%;
  color:#f5f5f5;
  text-align:center;
  text-decoration:none;
  background-color: rgba(0,0,0,0.5);
  font-size:20px;
  font-weight:bold;
  transition: all 0.3s ease;
}
.r_poster--play:hover {
  background-color: rgba(0,0,0,0.8);
  box-shadow: 0px 0px 10px rgba(255,255,100,1);
  text-shadow: 0px 0px 10px rgba(255,255,100,1);
}

.o-button{
  color: white;
  font-size: 0.6em;
  line-height: 1;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5em 1.125em;
  //background-color: $color-red;
  border: none;
  cursor: pointer;

  &--gray{
    //background-color: $color-gray;
  }
}
.color-red {
  background-color: $color-red;
}
.color-gray {
  background-color: $color-gray;
}

.md_wrap {
  p {
    font-size: 0.7em;
    margin-top: 0.4em;
    color: darken(white, 40%);
  }
}
// movie title
.md-title{
  font-weight: inherit;
  color: white;
  font-size: 1.0em;
  margin: 2.5em 0 1em;
  width: 100%;
  background-color: $color-red;
  text-transform: uppercase;
  span {
    margin-left: 1em;
    padding: 10px;
    background-color: lighten(black, 7%);;
  }
}
.md-plot {
  color: gray;
  //font-size: 0.8em;
}

.md-list__item {
  margin: 0;
  padding: 0;
  .item__detail {
    padding: 1px;
    font-size: 0.7em;
    color: gray;
  }
}

.md-list__casts {
  .item__detail {
    padding-right: 20px;
  }

  img {
    min-height: 14em;
  }

}
.md-more {
  float: right;
  font-size: 14px;
  margin: 0 0 1em;
  color: gray;
}


// ratings

.rating-container {
  /*padding: 4px;*/
  /*margin: 0 auto;*/
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 1em;
  //margin-right: 2em;
}

.rating-inner {
  margin-right: 2em;
  //border: 1px solid gray;
  background-color: #1a1a1a;
  /*overflow: hidden;*/
  /*position: relative;*/
  /*border: 1px solid gray;*/
  /* -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px; */
}
.ratings-header {
  color: gray;
  font-size: 0.8em;
  margin-bottom: 0.2em;
}
.rating {
  float: left;
  width: 40%;
  /*margin-right: 5%;*/
  text-align: center;
}

.rating-num {
  color: #e50914;
  font-size: 3em;
  font-weight: 100;
  line-height: 1em;
}

.rating-stars {
  font-size: 0.8em;
  color: $color-red;
  margin-bottom: .5em;
}
.rating-stars .active {
  color: #737373;
}
.non-rated {
  color: gray;
}
.rating-users {
  font-size: 14px;
  color: white;
}
.c-update-btn {
  cursor: pointer;
  border: 1px solid lighten(black, 25%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  background-color: lighten(black, 20%);
  font-size: 14px;
  float: right;
}
.c-update-btn:hover {
  background-color: lighten(black, 40%);
}
.button__warning {
  background-color: $color-red;
}
.button__warning:hover {
  background-color: $color-light-red;
}
.ratings-add {
  .ratings_profile {
    margin-top: 6px;
    img {
      width: 80px;
    }
    p {
      color: white;
      font-size: 16px;
      margin-top: 5px;
      text-align: center;
    }
  }

  textarea, input {
    width: 100%;
    margin-top: 0.5em;
    font-size: 14px;
    border-radius: 5px;
    padding: 2px 5px;
  }
  textarea {
    height: 60px;
  }
  #post-btn {
    float: right;
    font-size: 0.8em;
    border: none;

  }

}
.histo {
  float: left;
  width: 60%;
  font-size: 13px;
  color: white;
}

.histo-star {
  float: left;
  padding: 3px;

}

.histo-rate {
  width: 100%;
  display: block;
  clear: both;
  padding-top: 2px;
}

.bar-block {
  /*margin-left: 5px;*/
  color: white;
  display: block;
  float: left;
  width: 90%;
  position: relative;
}

.bar {
  padding: 4px;
  /*display: block;*/
}

#bar-five {
  width: 0;
  background-color: #9FC05A;
}

#bar-four {
  width: 0;
  background-color: #ADD633;
}

#bar-three {
  width: 0;
  background-color: #FFD834;
}

#bar-two {
  width: 0;
  background-color: #FFB234;
}

#bar-one {
  width: 0;
  background-color: #FF8B5A;
  margin-left: 2px;
}


#bar-ten {
  width: 0;
  background-color: #9FC05A;
}

#bar-nine {
  width: 0;
  background-color: #ADD633;
}

#bar-eight {
  width: 0;
  background-color: #FFD834;
}

#bar-seven {
  width: 0;
  background-color: #FFB234;
}

#bar-six {
  width: 0;
  background-color: #FF8B5A;
  margin-left: 2px;
}

a {
  color: white;
}

.col-profile-img{
    height: 100px;
    width: auto;
}
ngb-rating{
  color: #fff;
}


#movie_poster {
  //margin-left: 3%;
}

.rating_words {
  color: white;
}
