<main>
  <div class="container">
    <div class="row">
      <!--   left panel   -->
      <div class="col-sidebar sidebar">
        <!--  sidebar: movies category  -->
        <ul class="s-explore" id="category-sidebar">
          <!--     in theaters -->
          <!--TODO: set to page 1, otherwise bug-->
          <li class="s-explore__title"><h3>In Theaters</h3></li>
          <li class="s-explore__item" (click)="selectTab(1)" [ngClass]="{active: isTabActive(1)}">
            <a routerLink="/movies" (click)="setCurrentTab(sidebarEnum.moviesPlaying)">now playing</a>
          </li>
          <li class="s-explore__item" (click)="selectTab(2)" [ngClass]="{active: isTabActive(2)}">
            <a routerLink="/movies" (click)="setCurrentTab(sidebarEnum.moviesTopBoxOffice)">top box office</a>
          </li>
          <li class="s-explore__item"  (click)="selectTab(3)" [ngClass]="{active: isTabActive(3)}">
            <a routerLink="/movies" (click)="setCurrentTab(sidebarEnum.moviesTrending)">trending now</a>
          </li>
          <li class="s-explore__item"  (click)="selectTab(4)" [ngClass]="{active: isTabActive(4)}">
            <a routerLink="/movies" (click)="setCurrentTab(sidebarEnum.moviesComingSoon)">coming soon</a>
          </li>
          <li class="s-explore__item"  (click)="selectTab(5)" [ngClass]="{active: isTabActive(5)}">
            <a routerLink="/movies" (click)="setCurrentTab(sidebarEnum.moviesTopRated)">top rated</a>
          </li>

          <!--     tv -->
          <li class="s-explore__title"><h3>TV</h3></li>
          <li class="s-explore__item" (click)="selectTab(6)" [ngClass]="{active: isTabActive(6)}">
            <a routerLink="/movies" (click)="setCurrentTab(sidebarEnum.TvTonight)">new TV tonight</a>
          </li>
          <li class="s-explore__item"  (click)="selectTab(7)" [ngClass]="{active: isTabActive(7)}">
            <a routerLink="/movies" (click)="setCurrentTab(sidebarEnum.TvTopRated)">Top rated</a>
          </li>
        </ul>

        <!--  2nd box  -->
        <ul class="s-explore">
          <!--     in theaters -->
          <li class="s-explore__title"><h3>You may like</h3></li>
          <li class="s-explore__item"><a href="#">Blade Runner 2049<span class="s-explore__rating">4.9/5.0</span></a>
          </li>
          <li class="s-explore__item"><a href="#">Coco<span class="s-explore__rating">4.9/5.0</span></a></li>
          <li class="s-explore__item"><a href="#">Call Me By Your Name<span
            class="s-explore__rating">4.9/5.0</span></a></li>
          <li class="s-explore__item"><a href="#">Lady Bird<span class="s-explore__rating">4.9/5.0</span></a></li>
          <li class="s-explore__item"><a href="#">Blade Runner 2049<span
            class="s-explore__rating">4.9/5.0</span></a></li>
          <li class="s-explore__item"><a href="#">Coco<span class="s-explore__rating">4.9/5.0</span></a></li>
          <li class="s-explore__item"><a href="#">Call Me By Your Name<span
            class="s-explore__rating">4.9/5.0</span></a></li>
          <li class="s-explore__item"><a href="#">Lady Bird<span class="s-explore__rating">4.9/5.0</span></a></li>
          <li class="s-explore__item"><a href="#">Blade Runner 2049<span
            class="s-explore__rating">4.9/5.0</span></a></li>
          <li class="s-explore__item"><a href="#">Coco<span class="s-explore__rating">4.9/5.0</span></a></li>

        </ul>


      </div>
      <!-- ./end left panel -->

      <!--  right panel -->
      <div class="col-right content-wrap">
        <!-- poster -->
        <div class="r_poster">

          <div class="row">
            <div class="col-4">
              <img id="movie_poster" [lazyLoad]="movie?.poster" [defaultImage]="'../../../assets/images/no_image.png'"
                   alt="{{movie?.title}}" style="height: 300px; width: 200px">
            </div>

            <div class="col-8 heading">
              <h3 style="color: white">{{movie?.title}}</h3>
              <h3 class="rating_words">Critic Rating: {{movie?.numOfCriticRatings}}</h3>

              <h3 class="rating_num">{{movie?.criticRating}}/5.0
                <i class="fa fa-star" style="margin-left: 5px" [style.color]="movie?.criticRating < 0.5 ? 'gray' : 'rgb(229, 9, 20)'"></i>
        <i class="fa fa-star" [style.color]="movie?.criticRating < 1.5 ? 'gray' : 'rgb(229, 9, 20)'"></i>
        <i class="fa fa-star" [style.color]="movie?.criticRating < 2.5 ? 'gray' : 'rgb(229, 9, 20)'"></i>
        <i class="fa fa-star" [style.color]="movie?.criticRating < 3.5 ? 'gray' : 'rgb(229, 9, 20)'"></i>
        <i class="fa fa-star" [style.color]="movie?.criticRating < 4.5 ? 'gray' : 'rgb(229, 9, 20)'"></i>
              </h3>
              <h3 class="rating_words">Audience Rating: {{movie?.numOfRegUserRatings}} </h3>
              <h3 class="rating_num">{{movie?.regUserRating}}/5.0
              <i class="fa fa-star" style="margin-left: 5px" [style.color]="movie?.regUserRating < 0.5 ? 'gray' : 'rgb(229, 9, 20)'"></i>
              <i class="fa fa-star" [style.color]="movie?.regUserRating < 1.5 ? 'gray' : 'rgb(229, 9, 20)'"></i>
              <i class="fa fa-star" [style.color]="movie?.regUserRating < 2.5 ? 'gray' : 'rgb(229, 9, 20)'"></i>
              <i class="fa fa-star" [style.color]="movie?.regUserRating < 3.5 ? 'gray' : 'rgb(229, 9, 20)'"></i>
              <i class="fa fa-star" [style.color]="movie?.regUserRating < 4.5 ? 'gray' : 'rgb(229, 9, 20)'"></i>
              </h3>
            </div>


          </div>


        </div>
        <!-- ratings -->
        <!-- add ratings -->
        <div class="container ratings-add">
          <p class="ratings-header">Add Your Rating</p>
          <div class="row">

            <div class="col-profile-img ratings_profile">

              <img class=""
                   src="https://user-images.githubusercontent.com/20979257/36620069-64e71fbe-18bf-11e8-87e8-565e2fc4d6da.jpeg"
                   alt="user"/>

              <p>Melanie</p>
            </div>


            <div class="col-rate">
              <button *ngIf="movie.listMovieStatus != listMovieStatusEnum.NOT_INTERESTED_LIST;else removeFromNotInterested"
                      (click)="addToNotInterestedList(movie)"
                      class="o-button color-gray">
                <i class="fa fa-plus"></i> Uninterested
              </button>
              <ng-template #removeFromNotInterested>
                <button (click)="removeFromNotInterestedList(movie)"
                        class="o-button color-red">
                  <i class="fa fa-minus"></i> Uninterested
                </button>
              </ng-template>

              <!-- style wish list accordingly  -->
              <button *ngIf="movie.listMovieStatus != listMovieStatusEnum.WISHLIST;else removieFromWish"
                      (click)="addToWishList(movie)"
                      class="o-button color-red">
                <i class="fa fa-plus"></i> Wishlist
              </button>
              <ng-template #removieFromWish>
                <button class="o-button color-gray"
                        (click)="removeFromWishList(movie)">
                  <i class="fa fa-minus"></i> Wishlist
                </button>
              </ng-template>


              <app-stars [readonly]="ngbRatingReadOnly" [currentRate]="currentRating"
                         (eventEmitter)="ratingOperations($event)"></app-stars>

              <form>
                <input placeholder="Review title" [(ngModel)]="review.title" name="review_title">
                <textarea placeholder="What do you think about this movie?" [(ngModel)]="review.reviewContent"
                          name="review_content"></textarea>
                <button class="c-update-btn" (click)="addReview()">Post</button>
              </form>
            </div>
          </div>
        </div>

        <!-- movie info -->
        <div class="md_wrap">
          <h4 class="md-title">
            <span>{{movie?.title}}</span>
          </h4>


          <p class="md-plot">{{movie?.plot}}</p>

          <p>
            Director
            <span *ngIf="movie?.director">
                <a routerLink="/celebrity/{{movie?.director.celebrityId}}">{{movie?.director.name}}</a>
              </span>
          </p>
          <p>
            Starring
            <span *ngFor="let cast of movie?.casts">
                <a routerLink="/celebrity/{{cast.celebrityId}}">{{cast.name}},</a>
              </span>

          </p>
          <p>
            Genre
            <span *ngFor="let genre of movie?.genres" style="text-transform: lowercase">
                <a href="">{{genre}}</a>
              </span>
          </p>

        </div>


        <!-- 	1st section	videos -->
        <section class="md_wrap">
          <h2 class="md-title">
            <span>VIDEOS</span>
          </h2>
          <!--<a class="l-cards__more" href="#">more <i class="fa fa-angle-double-right"></i></a>-->

          <ul class="container md-list__videos">
            <li class="row md-list__item">


              <vg-player>
                <vg-overlay-play></vg-overlay-play>
                <vg-buffering></vg-buffering>

                <vg-scrub-bar>
                  <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                  <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                </vg-scrub-bar>

                <vg-controls>
                  <vg-play-pause></vg-play-pause>
                  <vg-playback-button></vg-playback-button>

                  <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

                  <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

                  <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
                  <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

                  <vg-track-selector></vg-track-selector>
                  <vg-mute></vg-mute>
                  <vg-volume></vg-volume>

                  <vg-fullscreen></vg-fullscreen>
                </vg-controls>

                <video [vgMedia]="media" #media id="singleVideo" preload="auto" crossorigin>
                  <!--<source src="../../../assets/trailers/{{movie?.imdbId}}.mp4" onError="this.src='../../../assets/trailers/trailer.mp4'" type="video/mp4">-->
                  <source *ngIf="trailer" src="{{trailer}}" onError="this.src='../../../assets/trailers/trailer.mp4'"
                          type="video/mp4">
                </video>
              </vg-player>


            </li>
          </ul>
        </section>
        <!-- 	end 1st section	 -->

        <!-- 	2nd section	photos -->
        <section class="md_wrap">
          <h2 class="md-title">
            <span>PHOTOS</span>
          </h2>
          <!--<a class="l-cards__more" href="#">more <i class="fa fa-angle-double-right"></i></a>-->

          <ul class="container md-list__photos">
            <!--<li class="row md-list__item" *ngFor="let photo of movie?.photos">-->
            <li class="row md-list__item">
              <a class="col-photos item__detail" href="" *ngFor="let photo of movie?.photos">
                <img [defaultImage]="'../../../assets/images/no_image.png'"
                     [lazyLoad]="photo">
                <!--<img src="{{photo}}" alt="">-->
              </a>
            </li>
          </ul>

        </section>
        <!-- end 2nd section -->

        <!-- 	3rd section	cast -->
        <section class="md_wrap">
          <h2 class="md-title">
            <span>cast</span>
          </h2>
          <!--<a class="l-cards__more" href="#">more <i class="fa fa-angle-double-right"></i></a>-->
          <ul class="container md-list__casts">
            <li class="row md-list__item">
              <a class="col-casts item__detail" *ngFor="let actor of movie?.casts"
                 routerLink="/celebrity/{{actor.celebrityId}}">
                <img src="{{actor.profileImage}}" onError="this.src='../../../assets/images/no_image.png'">
                <span>{{actor.name}}</span>
              </a>
            </li>

          </ul>
        </section>
        <!-- end 3rd section -->

        <!-- 	4th section	critic reviews -->
        <app-md-review [reviews]="movie?.reviews"></app-md-review>
        <!-- end -->

      </div>
      <!-- ./end right panel -->
    </div>
    <!-- ./row -->
  </div>

</main>
