<h5 class="c-header">My wish list </h5>


<div class="container" *ngFor="let movie of profile.wishList.slice().reverse()">
  <div class="row w--item">
    <div class="col-2 item--img">
      <img src={{movie?.poster}} alt="{{movie?.title}}">
    </div>
    <div class="col-10">
      <a routerLink="/movie/{{movie?.imdbId}}" class="s-item__title">{{movie?.title}} ({{movie?.releaseDate.toString().substring(0, 4)}})</a>

      <div class="flex">
        <i class="fa fa-star" [style.color]="movie?.criticRating < 0.5 ? 'gray' : 'rgb(229, 9, 20)'"></i>
        <i class="fa fa-star" [style.color]="movie?.criticRating < 1.5 ? 'gray' : 'rgb(229, 9, 20)'"></i>
        <i class="fa fa-star" [style.color]="movie?.criticRating < 2.5 ? 'gray' : 'rgb(229, 9, 20)'"></i>
        <i class="fa fa-star" [style.color]="movie?.criticRating < 3.5 ? 'gray' : 'rgb(229, 9, 20)'"></i>
        <i class="fa fa-star" [style.color]="movie?.criticRating < 4.5 ? 'gray' : 'rgb(229, 9, 20)'"></i>
        <p>{{movie?.criticRating}}/5.0</p>
      </div>

      <p class="s-plot">{{movie.plot.substring(0, 70)}}...</p>

      <div class="button__group">
        <button class="c-update-btn r-update-btn button__warning" (click)="removeFromWishList(movie)"
        style="margin-top: 0">Remove</button>
      </div>
    </div>
  </div>
</div>

<!--<ngb-pagination class="d-flex justify-content-left" [collectionSize]="20" ></ngb-pagination>-->
