backend/.DS_Store
backend/.idea
backend/target
movie_data/venv/

movie_data/new_data/test\.ipynb

.debris/

\.DS_Store

movie_data/new_data/tv\.txt

front_end/\.sass-cache/16689303df665e3f65435a892e1005ccbbe52bab/style\.scssc

front_end/css/style\.css\.map

.idea/
target/


cinema-paradiso-frontend/node_modules
cinema_paradiso/target/
backend/

resources/movie_data/new_data/\.vscode/

resources/movie_data/new_data/venv/Scripts/

resources/movie_data/new_data/venv/

cinema-paradiso-frontend/package-lock\.json

\.debris/tmp/

*.jpg
