<h5 class="c-header">My Ratings </h5>
<div class="container">
  <div *ngFor="let userRating of profile.userRatings" class="row r_ratings" >
    <!--<div *ngFor="let userRating of row" class="col-6">-->
      <div class="row">
        <div class="col-2">
          <img [src]="userRating.ratedMovie.poster" alt="poster">
        </div>

        <div class="col-1"></div>
        <div class="col-9 testimonial">
          <div class="t_title">
            <h6>
              <a class="r_movie--title" routerLink="/movie/{{userRating.ratedMovie.imdbId}}">{{userRating.ratedMovie.title}}</a>
            </h6>
          </div>
          <div class="t_title">
            <h6>
                  <span style="margin-left: 0">
                <i class="fa fa-star" [style.color]="userRating.userRating < 0.5 ? 'gray' : 'rgb(229, 9, 20)'"></i>
                <i class="fa fa-star" [style.color]="userRating.userRating < 1.5 ? 'gray' : 'rgb(229, 9, 20)'"></i>
                <i class="fa fa-star" [style.color]="userRating.userRating < 2.5 ? 'gray' : 'rgb(229, 9, 20)'"></i>
                <i class="fa fa-star" [style.color]="userRating.userRating < 3.5 ? 'gray' : 'rgb(229, 9, 20)'"></i>
                <i class="fa fa-star" [style.color]="userRating.userRating < 4.5 ? 'gray' : 'rgb(229, 9, 20)'"></i>

                    <i style="margin-left: 5px">{{userRating.userRating}}.0</i>
              </span>
              on {{userRating.ratedDate | date}}
            </h6>
          </div>
          <button class="button--del button__warning" (click)="deleteRating(userRating)">Delete</button>
        </div>
      <!--</div>-->
    </div>
  </div>

</div>
<!--<ngb-pagination class="d-flex justify-content-left" [collectionSize]="20"></ngb-pagination>-->

