<h5 class="c-header">My Ratings </h5>
<div class="container" *ngFor="let rating of profile.userRatings">
  <div class="row w__item">
    <div class="col-3 w__img-wrap">

      <!--TODO: movie poster here-->
      <img src={{rating?.ratedMovie.poster}} alt="{{rating?.ratedMovie.title}}">
    </div>

    <div class="col-9 rating">
      <p class="r-title__sub">
        Rated: {{rating?.ratedMovie.title}}


        <span style="margin-left: 15px">

        <span *ngFor="let number of range(5)">
          <i *ngIf="number < rating.userRating; else elseBlock" class="fa fa-star"></i>
          <ng-template #elseBlock><i id="un_star" class="fa fa-star"></i></ng-template>
        </span>

        <i>{{rating?.userRating}}/5</i>


      </span>


      </p>
      <div class="rating__buttons">
        <button class="c-update-btn r-update-btn button__warning" (click)="deleteRating(rating)">Delete</button>
      </div>
    </div>

  </div>
</div>
<ngb-pagination class="d-flex justify-content-left" [collectionSize]="20"></ngb-pagination>

