<html lang="en">

<body>

<main>
  <article>
    <div class="l-hero">
      <ngb-carousel>

        <ng-template ngbSlide *ngFor="let carouselSlide of carousel" >
          <img [src]=carouselSlide.backgroundImage alt="slide" class="l-hero__img" >
          <div class="l-hero__text-wrapper">
            <div class="l-hero__text">

              <!-- title -->
                <div class="c-title">
                  <!--<div class="c-title__category"><strong>{{carouselSlide.movie.awards.slice(0, carouselSlide.movie.awards.indexOf(';'))}}</strong> </div>-->
                  <div class="c-title__name">
                    <a routerLink="/movie/{{carouselSlide.movie.imdbId}}" routerLinkActive="active">
                      {{carouselSlide.movie.title}}
                    </a>
                  </div>
                  <div class="absolute">
                    <a routerLink="/movie/{{carouselSlide.movie.imdbId}}" routerLinkActive="active">
                    <div class="flex">
                      <i class="fa fa-star "></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <p>{{carouselSlide.movie.criticRating}}/5.0</p>
                      <p>{{carouselSlide.movie.rated}}</p>
                    </div><!--flex end-->
                    </a>
                  </div>
                </div>

              <p class="c-plot">{{carouselSlide.movie.plot}}</p>

              <p>
                Starring
                <span *ngFor="let cast of carouselSlide.movie.casts | slice:0:5" >
                  <a routerLink="/celebrity/{{cast.celebrityId}}" routerLinkActive="active">
                    {{cast.name}},
                  </a>
                </span>
              </p>

              <p>

                Director
                  <span>
                    <a routerLink="/celebrity/{{carouselSlide.movie.director.celebrityId}}" routerLinkActive="active">
                      {{carouselSlide.movie.director.name}}
                    </a>
                  </span>
              </p>
              <p>
                Genres
                <span *ngFor="let genre of carouselSlide.movie.genres | slice: 0:5" class="c-genres" style="text-transform: lowercase">
                  {{genre}},
                </span>
              </p>
              <div class="l-hero__buttons">

                <!-- style not interested list accordingly -->
                <button *ngIf="carouselSlide.movie.listMovieStatus !== listMovieStatusEnum.NOT_INTERESTED_LIST"
                        (click)="addToNotInterestedList(carouselSlide.movie)"
                  class="o-button color-gray">
                  <i class="fa fa-plus"></i> Uninterested
                </button>

                <button *ngIf="carouselSlide.movie.listMovieStatus === listMovieStatusEnum.NOT_INTERESTED_LIST"
                        (click)="removeFromNotInterestedList(carouselSlide.movie)"
                        class="o-button color-red">
                  <i class="fa fa-minus"></i> Uninterested
                </button>


                <!-- style wish list accordingly  -->
                <button *ngIf="carouselSlide.movie.listMovieStatus !== listMovieStatusEnum.WISHLIST"
                        (click)="addToWishList(carouselSlide.movie)"
                        class="o-button color-red">
                  <i class="fa fa-plus"></i> Wishlist
                </button>

                <button *ngIf="carouselSlide.movie.listMovieStatus === listMovieStatusEnum.WISHLIST"
                        class="o-button color-gray"
                  (click)="removeFromWishList(carouselSlide.movie)">
                  <i class="fa fa-minus"></i> Wishlist
                </button>


              </div>
            </div>
          </div>
        </ng-template>

      </ngb-carousel>
    </div>

    <!-- 	movies now playing	 -->
    <section class="l-cards">
      <div class="l-cards__title-wrap">
        <h2 class="l-cards__title" (click)="selectTab(1)" [ngClass]="{active: isTabActive(1)}">
          <a routerLink="/movies" (click)="setCurrentTab(sidebarEnum.moviesPlaying)">Now Playing</a>
        </h2>
        <a class="l-cards__nav-left" href="#"><i class="fa fa-angle-right"></i></a><a class="l-cards__nav-right" href="#">
        <i class="fa fa-angle-left"></i></a>
      </div>

      <ul class="l-cards__list">
        <li class="l-cards__item" *ngFor="let movie of moviesPlaying  | slice:0:6">
          <a routerLink="/movie/{{movie.imdbId}}" routerLinkActive="active" class="l-cards__image fill">
            <img [src]="movie.poster" [alt]="movie.title">
          </a>
          <a routerLink="/movie/{{movie.imdbId}}"  routerLinkActive="active"  class="l-cards__text">
            {{movie.title.substring(0, 20)}}
            <p>{{movie.criticRating}}/5.0</p>
          </a>
        </li>
      </ul>
    </section>
    <!-- 	end movies now playing	 -->

    <!-- top box office -->
    <section class="l-cards">
      <div class="l-cards__title-wrap">
        <h2 class="l-cards__title" (click)="selectTab(2)" [ngClass]="{active: isTabActive(2)}" >
          <a routerLink="/movies" (click)="setCurrentTab(sidebarEnum.moviesTopBoxOffice)">Top Box Office</a>
        </h2>
        <a class="l-cards__nav-left" href="#"><i class="fa fa-angle-right"></i></a><a class="l-cards__nav-right" href="#"><i class="fa fa-angle-left"></i></a>
      </div>
      <ul class="l-cards__list">

        <li class="l-cards__item" *ngFor="let movie of moviesTopBoxOffice | slice:0:6">
          <a routerLink="/movie/{{movie.imdbId}}" routerLinkActive="active" class="l-cards__image fill">
            <img [src]="movie.poster" [alt]="movie.title">
          </a>
          <a routerLink="/movie/{{movie.imdbId}}" routerLinkActive="active"  class="l-cards__text">
            {{movie.title.substring(0, 20)}}
            <p>{{movie.criticRating}}/5.0</p>
          </a>
        </li>

      </ul>
    </section>
    <!-- end top box office-->

    <!-- movies trending -->
    <section class="l-cards">
      <div class="l-cards__title-wrap">
        <h2 class="l-cards__title" (click)="selectTab(3)"  [ngClass]="{active: isTabActive(3)}">
          <a routerLink="/movies" (click)="setCurrentTab(sidebarEnum.moviesTrending)">Trending Now</a>
        </h2>
        <a class="l-cards__nav-left" href="#"><i class="fa fa-angle-right"></i></a><a class="l-cards__nav-right" href="#"><i class="fa fa-angle-left"></i></a>
      </div>
      <ul class="l-cards__list">

        <li class="l-cards__item" *ngFor="let movie of moviesTrending | slice:0:6">
          <a routerLink="/movie/{{movie.imdbId}}" routerLinkActive="active" class="l-cards__image fill">
            <img [src]="movie.poster" [alt]="movie.title">
          </a>
          <a routerLink="/movie/{{movie.imdbId}}" routerLinkActive="active"  class="l-cards__text">
            {{movie.title.substring(0, 20)}}
            <p>{{movie.criticRating}}/5.0</p>
          </a>
        </li>

      </ul>
    </section>
    <!-- end movies trending -->

    <!-- movies coming soon -->
    <section class="l-cards">
      <div class="l-cards__title-wrap">
        <h2 class="l-cards__title" (click)="selectTab(4)"  [ngClass]="{active: isTabActive(4)}">
          <a routerLink="/movies" (click)="setCurrentTab(sidebarEnum.moviesComingSoon)">Coming Soon</a>
        </h2>
        <a class="l-cards__nav-left" href="#"><i class="fa fa-angle-right"></i></a><a class="l-cards__nav-right" href="#"><i class="fa fa-angle-left"></i></a>
      </div>
      <ul class="l-cards__list">

        <li class="l-cards__item" *ngFor="let movie of moviesComingSoon | slice:0:6">
          <a routerLink="/movie/{{movie.imdbId}}" routerLinkActive="active" class="l-cards__image fill">
            <img [src]="movie.poster" [alt]="movie.title">
          </a>
          <a routerLink="/movie/{{movie.imdbId}}" routerLinkActive="active"  class="l-cards__text">
            {{movie.title.substring(0, 20)}}
            <p>{{movie.criticRating}}/5.0</p>
          </a>
        </li>

      </ul>
    </section>
    <!-- end coming soon -->

    <section class="l-cards">
      <div class="l-cards__title-wrap">
        <h2 class="l-cards__title" (click)="selectTab(5)"  [ngClass]="{active: isTabActive(5)}">
          <a routerLink="/movies" (click)="setCurrentTab(sidebarEnum.moviesTopRated)">Top Rated</a>
        </h2>
        <a class="l-cards__nav-left" href="#"><i class="fa fa-angle-right"></i></a><a class="l-cards__nav-right" href="#"><i class="fa fa-angle-left"></i></a>
      </div>
      <ul class="l-cards__list">

        <li class="l-cards__item" *ngFor="let movie of moviesTopRated | slice:0:6">
          <a routerLink="/movie/{{movie.imdbId}}" routerLinkActive="active" class="l-cards__image fill">
            <img [src]="movie.poster" [alt]="movie.title">
          </a>
          <a routerLink="/movie/{{movie.imdbId}}" routerLinkActive="active"  class="l-cards__text">
            {{movie.title.substring(0, 20)}}
            <p>{{movie.criticRating}}/5.0</p>
          </a>
        </li>

      </ul>
    </section>


    <section class="l-cards">
      <div class="l-cards__title-wrap">
        <h2 class="l-cards__title">Recommended For You</h2>
        <a class="l-cards__nav-left" href="#"><i class="fa fa-angle-right"></i></a><a class="l-cards__nav-right" href="#"><i class="fa fa-angle-left"></i></a>
      </div>
      <ul class="l-cards__list">

        <li class="l-cards__item" *ngFor="let movie of moviesPlaying | slice:0:6">
          <a routerLink="/movie/{{movie.imdbId}}" routerLinkActive="active" class="l-cards__image fill">
            <img [src]="movie.poster" [alt]="movie.title">
          </a>
          <a routerLink="/movie/{{movie.imdbId}}" routerLinkActive="active"  class="l-cards__text">
            {{movie.title.substring(0, 20)}}
            <p>{{movie.criticRating}}/5.0</p>
          </a>
        </li>

      </ul>
    </section>


  </article>
</main>

</body>

</html>
