<header class="l-header">
  <nav class="l-header__logo">
    <a routerLink="/home" routerLinkActive="active">
      <img alt="logo" src="https://user-images.githubusercontent.com/20979257/39030584-d93782fe-4430-11e8-92ff-12cfebf7a6c8.png">
    </a>
  </nav>

  <nav class="l-header__nav">
    <a>
      <form (ngSubmit)="search()">
        <input type="search" placeholder="Coco" [(ngModel)]="keyword" name="keywords">
        <button type="submit"><span class="fa fa-search" id="search-icon"></span></button>
      </form>
    </a>
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/movies" routerLinkActive="active">Films</a>

    <!-- if not logged in -->
    <div *ngIf="!status; else elseBlock">
      <a routerLinkActive="active" class="trigger">Log in / Sign up</a>
    </div>

    <!-- if logged in -->
    <ng-template #elseBlock>

      <!-- admin -->
        <div *ngIf ="is_admin; else userBlock">
          <div ngbDropdown class="header-dropdown">
            <a class="btn btn-outline-primary" id="admin-menu-dropdown" ngbDropdownToggle>{{user.username}}</a>
            <div ngbDropdownMenu aria-labelledby="admin-menu-dropdown" class="dropdown-menu ">
              <a routerLink="admin" class="dropdown-item">Management </a>
              <a (click)="logout()" class="trigger dropdown-item">Log Out </a>
            </div>
          </div>
        </div>

      <!-- regular user -->
        <ng-template #userBlock>
          <div ngbDropdown class="header-dropdown">
            <a class="btn btn-outline-primary" id="user-menu-dropdown" ngbDropdownToggle>{{user.username}}</a>
            <div ngbDropdownMenu aria-labelledby="user-menu-dropdown" class="dropdown-menu">
              <a routerLink="user" class="dropdown-item">My Profile </a>
              <a (click)="logout()" class="trigger dropdown-item">Log Out </a>
            </div>
          </div>
        </ng-template>

    </ng-template>

  </nav>
</header>

<app-login></app-login>
