$color-red: rgb(229, 9, 20);
$padding-hrz: 2.5rem;
$shadow: lighten(black, 10%);
$link-hover: lighten(black, 60%);
$dropdown-menu-hover: lighten(black, 20%);

@mixin border_radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
input {
  outline: none;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

input[type=search] {
  margin-top: -25px;
  color: white;
  background: transparent;
  border: solid 1px #ccc;
  padding: 10px 10px 6px 20px;
  width: 80px;
  @include border_radius(5em);

  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
input[type=search]:focus {
  width: 200px;
  background-color: transparent;
  border-color: #ccc;

}
input:-moz-placeholder {
  color: #999;
}
input::-webkit-input-placeholder {
  color: #999;
}

// overwrite ng bootstrap
.header-dropdown {
  margin: -10px 0 0 0;
  padding: 0;

  // dropdown button
  .btn-outline-primary {
    border: none;
    font-size: 16px;
    background-color: transparent !important;
  }
  .btn-outline-primary:hover {
    color: $link-hover !important;
    background-color: transparent;
  }

  // dropdown item
  .dropdown-menu {
    background-color: lighten(black, 10%);
    margin-top: 16px;

    .dropdown-item {
      font-size: 14px;
      color: white !important;
    }

    .dropdown-item:hover {
      background-color: $dropdown-menu-hover;
      cursor: pointer;
      color: white !important;
    }
  }

}


.l-header{
  font-size: 14px;
  padding: 0 $padding-hrz;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  //@include box_shadow(0, 5px, 5px, $shadow);
  position: relative;

  > *{
    padding-top: 10px;
    padding-bottom: -15px;
  }
    //background-color: #1a1a1a;
    //margin-top: 1.5em;
    //-moz-box-shadow: 0px 1px 5px 6px #1a1a1a;
    //-webkit-box-shadow: 0px 1px 5px 6px #1a1a1a;
    //box-shadow: 0px 1px 5px 6px #1a1a1a;

  a:hover{
    color: $link-hover !important;
  }
  // search icon
  a:nth-child(1) {
    button {
      border:none;
      background-color: transparent;
      cursor: pointer;
    }
    #search-icon {
      font-size: 1.4em;
      color: white;
    }
  }

}

.l-header__logo{
  width: 250px;
}

.l-header__nav{
  display: flex;
  color: white;
  > * + *{
    margin-left: 32px;
  }
}
