<!-- footer -->
<footer>
  <div class="f-wrap">
    <section class="f-column">
      <a routerLink="contact">Contact Us</a>
      <a routerLink="about">About</a>
      <a routerLink="tos">Terms of Service</a>
    </section>

    <section class="f-column">
      <a href="#">Follow us on</a>
      <br>
      <ul class="social-icons">
        <li><a href="https://www.facebook.com/Cinema_Paradiso-359279904581041" class="social-icon"> <i
          class="fa fa-facebook"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-rss"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
      </ul>
    </section>
  </div>
  <div class="legality">
    © Copyright 2018 Cinema Paradiso
  </div>
</footer>

