$color-red: rgb(229, 9, 20);
$main-background: lighten(black, 10%);
$link-hover: lighten(black, 70%);

main{
  background-color: $main-background;
  height: 100%;
  padding-top: 3%;
  padding-bottom: 4%;
}

.search-tab {
  margin-left: 3%;
  margin-bottom: 1em;
  li {
    display: inline-block;
    margin-right: 1em;
  }
  a {
    color: gray;
    text-decoration: none;
    font-size: 0.8em;
  }
  a:hover {
    color: white;
  }

}
// individual result
.s-item {
  margin-bottom: 2em;
}
// image wrap
.s_img-wrap {
  padding-left: 4em;
  img {
    height: 200px;
    width: auto;
  }

}
.s-item__title {
  font-size: 16px;
  color: white !important;
}
.s-item__title:hover {
  color: $link-hover !important;
}

.s-plot {
  margin: 5px 0;
}
p {
  font-size: 14px;
  //margin-top: 2px;
  color: darken(white, 45%);
  span {
    color: white;
  }
}

.fa-star{
  color:$color-red;
}
// rate
.flex {
  font-size: 12px;
  p {
    display: inline-block;
    font-size: 12px;
  }
  // ratings
  p:nth-of-type(1){
    margin-left:5px;
    margin-right:10px;
    color:white;
  }
  // rate
  p:nth-of-type(2){
    background:gray;
    color: #fff;
    padding: 0 4px;
  }

}

.container {
  margin-top: 2em;
  margin-bottom: 2em;
}

.row {
  margin-top: 1em;
}

.nav-link {
  background: black;
  border:black;
}

.section_title {
  background: black;
  border: black;
}

