$color-red: rgb(229, 9, 20);
$main-background: lighten(black, 11%);
$link-hover: lighten(black, 70%);

main{
  background-color: $main-background;
  height: 100%;
  padding-top: 3%;
  padding-bottom: 4%;
}

.search-tab {
  margin-left: 3%;
  margin-bottom: 1em;
  li {
    display: inline-block;
    margin-right: 1em;
  }
  a {
    color: gray;
    text-decoration: none;
    font-size: 0.8em;
  }
  a:hover {
    color: white;
  }

}
// individual result
.s-item {
  margin-bottom: 1em;
}
// image wrap
.s_img-wrap {
  padding-left: 35px;
  img {
    height: 150px;
    width: 100px;
  }

}
.s-item__title {
  font-size: 16px;
  color: white !important;
}
.s-item__title:hover {
  color: $link-hover !important;
}

.s-plot {
  margin: 4px 0;
}
p {
  font-size: 14px;
  //margin-top: 2px;
  color: darken(white, 45%);
  span {
    color: white;
  }
}

.fa-star{
  color:$color-red;
}
// rate
.flex {
  font-size: 12px;
  p {
    display: inline-block;
    font-size: 12px;
  }
  // ratings
  p:nth-of-type(1){
    margin-left:5px;
    margin-right:10px;
    color:white;
  }
  // rate
  //p:nth-of-type(2){
  //  background:gray;
  //  color: #fff;
  //  padding: 0 4px;
  //}

}

.container {
  margin-top: 2em;
  margin-bottom: 2em;
}

.row {
  margin-top: 1em;
}

.nav-link {
  background: black;
  border:black;
}

.section_title {
  background: black;
  border: black;
}

// list view, grid view
.l-cards {

  color: white;

  a:hover {
    color: $link-hover;
  }

  .l-cards__title {
    color: white;
    font-size: 1.1em;
    display: inline;
    text-transform: uppercase;
    font-weight: 400;
  }

  .l-cards__more:first-of-type, .l-cards__more:last-of-type {
    cursor: pointer;
    font-size: 18px;
    padding-left:5px;
    position: absolute;
    right: 7%;
    top: 5px;
  }
  .l-cards__more:first-of-type {
    right: 30%;
  }

}

// grid view
.l-cards__table {
  margin-top: 0.7em;
  padding: 0 20px;
  width: 90%;
  margin-left: 5%;

  .l-cards__item {
    text-align: center;
    overflow: hidden;
    letter-spacing: 0;
    padding: 0 40px;
    margin-bottom: 1em;
  }

  .l-cards__image {
    img {
      height: 11em;
    }
  }

  .l-cards__text {
    font-size: 12px;
  }

  .item__rating {
    color: $color-red;
    margin-right: -5px;
  }

}

.selector {
  //padding-left: 4em;

}

