<main>
  <ngb-tabset [justify]="currentJustify">

    <ngb-tab>

      <ng-template ngbTabTitle>
        <i class="fa fa-film"></i> Movies
      </ng-template>

      <ng-template ngbTabContent>
        <div class="container l-cards movie_results">

          <!-- selectors -->
          <div class="row selector" style="border: 1px solid white; width: 80%; margin-left: 10%;">
            <!-- dropdown -->
              <div ngbDropdown class="d-inline-block col-10">
                <span>Sort by </span><button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Relevance</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-item-wrap">
                  <button class="dropdown-item">Rating</button>
                  <button class="dropdown-item">Top Box Office</button>
                  <button class="dropdown-item">Release Date</button>
                  <button class="dropdown-item">A - Z</button>
                </div>
              </div>

            <!-- list/grid -->
            <div class="col-2">
              <a class="l-cards__more" (click)="setListView(true)"><i class="fa fa-list-ul"></i> </a>
              <a class="l-cards__more" (click)="setListView(false)"><i class="fa fa-th-large"></i> </a>
            </div>
          </div>

          <div *ngIf="isListView">
            <div *ngFor="let movie of moviesResults">
            <div class="row s-item">
              <div class="col-1"></div>
              <div class="col-2 s_img-wrap">
                <img src={{movie?.poster}} alt="{{movie?.title}}">
              </div>
              <div class="col-8">
                <a routerLink="/movie/{{movie.imdbId}}" class="s-item__title">{{movie?.title}}
                  ({{movie?.releaseDate.toString().substring(0, 4)}})</a>

                <div class="flex">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <p>{{movie?.criticRating}}/5.0</p>
                  <!--<p>{{movie?.rated}}</p>-->
                  <p> ({{movie?.numOfCriticRatings + movie?.numOfRegUserRatings}} Ratings)</p>
                </div>

                <p class="s-plot">{{movie?.plot.substring(0, 200)}}</p>

                <div>
                  <p>
                    Starring
                    <span *ngFor="let actor of movie.casts | slice:0:5" routerLink="/celebrity/{{actor?.celebrityId}}">
                      {{actor?.name}} ,
                    </span>
                  </p>
                </div>

                <p>
                  Director
                  <span routerLink="/celebrity/{{movie?.director.celebrityId}}">{{movie?.director.name}}</span>
                </p>
              </div>
            </div>
          </div>
          </div>
          <!-- grid view-->
          <ul *ngIf="!isListView" class="row l-cards__table">

            <li  *ngFor="let movie of moviesResults"  class="col-3 l-cards__item">
              <a routerLink="/movie/{{movie?.imdbId}}" class="l-cards__image fill"><img [src]="movie?.poster"></a>
              <a href="/movie/{{movie?.imdbId}}" class="l-cards__text">{{movie?.title.substring(0, 20)}} <i class="item__rating"> {{movie?.criticRating}}</i></a>
            </li>

          </ul>
        </div>

        <ngb-pagination class="d-flex justify-content-center" [collectionSize]="movieNumberOfPages" [maxSize]=10
        [(page)]="moviePage" [boundaryLinks]="true" (pageChange)="getNextMoviePage($event)"></ngb-pagination>
      </ng-template>
    </ngb-tab>

    <!-- Celebrities tab -->
    <ngb-tab>
      <ng-template ngbTabTitle>
        <i class="fa fa-user"></i> Celebrities
      </ng-template>
      <ng-template ngbTabContent>
        <div class="container people_results">

          <div *ngFor="let celeb of celebrityResults">
            <div class="row s-item">
              <div class="col-1"></div>
              <div class="col-3 s_img-wrap">
                <img routerLink="/celebrity/{{celeb?.celebrityId}}" src="{{celeb?.profileImage}}" alt="">
              </div>
              <div class="col-7">
                <p class="s-item__title">{{celeb?.name}}</p>
                <!--<p class="s-item__bio">{{celeb?.biography}}</p>-->
                <p class="s-item__birth">
                  Born in:
                  <span class="actor_birth_date">April 27, 1976 in Dulwich, London, England, UK</span>
                </p>
                <p>
                  Filmography:
                </p>

              </div>
            </div>
          </div>
        </div>

        <ngb-pagination class="d-flex justify-content-center"
                        [collectionSize]="peopleNumberOfPages" [(page)]="peoplePage"
                        (pageChange)="getNextPeoplePage($event)" [maxSize]=10 [boundaryLinks]="true"></ngb-pagination>

      </ng-template>

    </ngb-tab>

    <!-- TVs -->
    <ngb-tab>
      <ng-template ngbTabTitle>
        <i class="fa fa-tv"></i> TV-Series
      </ng-template>
      <ng-template ngbTabContent>

        <div class="container tv_results">

          <div *ngFor="let movie of tvResults">
            <div class="row s-item">
              <div class="col-1"></div>
              <div class="col-3 s_img-wrap">
                <img src={{movie?.poster}} alt="{{movie?.title}}">
              </div>
              <div class="col-7">
                <a routerLink="/tv/{{movie.imdbId}}" class="s-item__title">{{movie?.title}}
                  <div *ngIf="movie.releaseDate === null; else release_date"></div>
                  <ng-template #release_date>({{movie?.releaseDate.toString().substring(0, 4)}})</ng-template>
                </a>

                <div class="flex">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <p>{{movie?.criticRating}}/5.0</p>
                  <p>{{movie?.rated}}</p>
                </div>

                <p class="s-plot">{{movie?.plot}}</p>

                <div>
                  <p>
                    Starring
                    <span *ngFor="let actor of movie.casts | slice:0:5" routerLink="/celebrity/{{actor?.celebrityId}}">
                      {{actor?.name}} ,
                    </span>
                  </p>
                </div>

                <p>
                  Director
                  <span routerLink="/celebrity/{{movie?.director?.celebrityId}}">{{movie?.director?.name}}</span>
                </p>
                <p>
                  Genres
                  <span *ngFor="let genre of movie?.genres | slice: 0:5" class="c-genres"
                        style="text-transform: lowercase">
                  {{genre}},
                </span>
                </p>
              </div>
            </div>
          </div>


        </div>

        <ngb-pagination class="d-flex justify-content-center" [collectionSize]="tvNumberOfPages" [maxSize]=10 [(page)]="tvPage"
                        (pageChange)="getNextTVPage($event)" [boundaryLinks]="true"></ngb-pagination>

      </ng-template>
    </ngb-tab>

  </ngb-tabset>

</main>
