  <ul class="s-explore">
    <!--     in theaters -->
    <li class="s-explore__title"><h3>In Theaters</h3></li>
    <li class="s-explore__item active"><a>now playing</a></li>
    <li class="s-explore__item"><a >top box office</a></li>
    <li class="s-explore__item"><a href="#">coming soon</a></li>
    <li class="s-explore__item"><a href="#">certified fresh movies</a></li>

    <!--     dvds -->
    <li class="s-explore__title"><h3>dvd & streaming movies</h3></li>
    <li class="s-explore__item"><a href="#">browser all</a></li>
    <li class="s-explore__item"><a href="#">top DVD & streaming</a></li>
    <li class="s-explore__item"><a href="#">certified fresh movies</a></li>

    <!--     tv -->
    <li class="s-explore__title"><h3>TV</h3></li>
    <li class="s-explore__item"><a href="#">new TV tonight</a></li>
    <li class="s-explore__item"><a href="#">most popular tv on RT</a></li>
    <li class="s-explore__item"><a href="#">certified fresh TV</a></li>
  </ul>

  <!--  2nd box  -->
  <!--<ul class="s-explore">-->
    <!--&lt;!&ndash;     in theaters &ndash;&gt;-->
    <!--<li class="s-explore__title"><h3>You may like</h3></li>-->
    <!--<li class="s-explore__item">-->
      <!--<a href="#">Blade Runner 2049</a>-->
      <!--<span class="s-explore__rating">4.9/5.0</span>-->
    <!--</li>-->
    <!--<li class="s-explore__item"><a href="#">Coco</a><span class="s-explore__rating">4.9/5.0</span></li>-->
    <!--<li class="s-explore__item"><a href="#">Call Me By Your Name</a><span-->
      <!--class="s-explore__rating">4.9/5.0</span></li>-->
    <!--<li class="s-explore__item"><a href="#">Lady Bird</a><span class="s-explore__rating">4.9/5.0</span></li>-->
    <!--<li class="s-explore__item"><a href="#">Blade Runner 2049</a><span-->
      <!--class="s-explore__rating">4.9/5.0</span></li>-->
    <!--<li class="s-explore__item"><a href="#">Coco</a><span class="s-explore__rating">4.9/5.0</span></li>-->
    <!--<li class="s-explore__item"><a href="#">Call Me By Your Name</a><span-->
      <!--class="s-explore__rating">4.9/5.0</span></li>-->
    <!--<li class="s-explore__item"><a href="#">Lady Bird</a><span class="s-explore__rating">4.9/5.0</span></li>-->
    <!--<li class="s-explore__item"><a href="#">Blade Runner 2049</a><span-->
      <!--class="s-explore__rating">4.9/5.0</span></li>-->
    <!--<li class="s-explore__item"><a href="#">Coco</a><span class="s-explore__rating">4.9/5.0</span></li>-->
    <!--<li class="s-explore__item"><a href="#"><span style="color: white;">more <i-->
      <!--class="fa fa-angle-right"></i></span></a></li>-->
  <!--</ul>-->

