<html lang="en">

<body>

<main>
  <article>
    <div class="l-hero">
      <!-- 			carousel dots -->
      <ol class="carousel-indicators ">
        <li data-target="#hero-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#hero-carousel" data-slide-to="1"></li>
        <li data-target="#hero-carousel" data-slide-to="2"></li>
        <li data-target="#hero-carousel" data-slide-to="3"></li>
        <li data-target="#hero-carousel" data-slide-to="4"></li>
        <li data-target="#hero-carousel" data-slide-to="5"></li>
      </ol>

      <!-- 			end carousel dots -->
      <div class="l-hero__text-wrapper">
        <div class="l-hero__text">
          <h1 class="c-title">
            <span class="c-title__category"><strong>Academy Awarded</strong> </span>
            <span class="c-title__name">The Shape of Water <br></span>
            <div class="absolute">
              <div class="flex">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <h6>5.0/5.0</h6>
                <h6>PG-13</h6>
              </div><!--flex end-->
            </div>
          </h1>

          <p class="c-plot">At a top secret research facility in the 1960s, a lonely janitor forms a unique
            relationship with an amphibious creature that is being held in captivity.</p>

          <p>
            Starring <span> Sally Hawkins, Octavia Spencer, Michael Shannon</span>
          </p>
          <p>
            Director <span>Guillermo del Toro</span>
          </p>
          <p>
            Genres <span>Adventure, Drama, Fantasy, Horror, Romance</span>
          </p>
          <div class="l-hero__buttons">
            <div class="o-button o-button--gray">+ Watchlist</div>
            <div class="o-button">+ Wishlist</div>
          </div>
        </div>
      </div>
    </div>

    <!-- 	1st section	 -->
    <section class="l-cards">
      <div class="l-cards__title-wrap">
        <h2 class="l-cards__title">Now Playing</h2>
        <a class="l-cards__nav-left" href="#"><i class="fa fa-angle-right"></i></a><a class="l-cards__nav-right" href="#"><i class="fa fa-angle-left"></i></a>
      </div>

      <ul class="l-cards__list">
        <li class="l-cards__item">
          <a href="detail_movie.html" class="l-cards__image fill"></a>
          <a href="#" class="l-cards__text"></a>
        </li>

        <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
          <a href="#" class="l-cards__text"></a></li>

        <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
          <a href="#" class="l-cards__text"></a></li>

        <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
          <a href="#" class="l-cards__text"></a></li>

        <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
          <a href="#" class="l-cards__text"></a></li>

        <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
          <a href="#" class="l-cards__text"></a></li>
        <!--<li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>-->
          <!--<a href="#" class="l-cards__text"></a></li>-->
      </ul>
    </section>
    <!-- 	end 1st section	 -->

    <section class="l-cards">
      <div class="l-cards__title-wrap">
        <h2 class="l-cards__title">Movies Trending Now</h2>
        <a class="l-cards__nav-left" href="#"><i class="fa fa-angle-right"></i></a><a class="l-cards__nav-right" href="#"><i class="fa fa-angle-left"></i></a>
      </div>
      <ul class="l-cards__list">
        <li class="l-cards__item">
          <a href="#" class="l-cards__image fill"></a>
          <a href="#" class="l-cards__text"></a>
        </li>
        <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
          <a href="#" class="l-cards__text"></a></li>
        <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
          <a href="#" class="l-cards__text"></a></li>

        <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
          <a href="#" class="l-cards__text"></a></li>

        <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
          <a href="#" class="l-cards__text"></a></li>

        <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
          <a href="#" class="l-cards__text"></a></li>
        <!--<li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>-->
          <!--<a href="#" class="l-cards__text"></a></li>-->
      </ul>
    </section>
    <!-- end 2nd section -->

    <section class="l-cards">
      <div class="l-cards__title-wrap">
        <h2 class="l-cards__title">TV Trending Now</h2>
        <a class="l-cards__nav-left" href="#"><i class="fa fa-angle-right"></i></a><a class="l-cards__nav-right" href="#"><i class="fa fa-angle-left"></i></a>
      </div>
      <ul class="l-cards__list">
        <li class="l-cards__item">
          <a href="#" class="l-cards__image fill"></a>
          <a href="#" class="l-cards__text"></a>
        </li>

        <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
          <a href="#" class="l-cards__text"></a></li>

        <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
          <a href="#" class="l-cards__text"></a></li>

        <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
          <a href="#" class="l-cards__text"></a></li>
        <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
          <a href="#" class="l-cards__text"></a></li>
        <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
          <a href="#" class="l-cards__text"></a></li>
        <!--<li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>-->
          <!--<a href="#" class="l-cards__text"></a></li>-->
      </ul>
    </section>
    <!-- end -->

    <section class="l-cards">
      <div class="l-cards__title-wrap">
        <h2 class="l-cards__title">Top Box Office</h2>
        <a class="l-cards__nav-left" href="#"><i class="fa fa-angle-right"></i></a><a class="l-cards__nav-right" href="#"><i class="fa fa-angle-left"></i></a>
      </div>
      <ul class="l-cards__list">
        <li class="l-cards__item">
          <a href="#" class="l-cards__image fill"></a>
          <a href="#" class="l-cards__text"></a>
        </li>

        <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
          <a href="#" class="l-cards__text"></a></li>

        <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
          <a href="#" class="l-cards__text"></a></li>

        <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
          <a href="#" class="l-cards__text"></a></li>
        <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
          <a href="#" class="l-cards__text"></a></li>
        <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
          <a href="#" class="l-cards__text"></a></li>
        <!--<li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>-->
          <!--<a href="#" class="l-cards__text"></a></li>-->
      </ul>
    </section>


    <section class="l-cards">
      <div class="l-cards__title-wrap">
      <h2 class="l-cards__title">Recommended For You</h2>
      <a class="l-cards__nav-left" href="#"><i class="fa fa-angle-right"></i></a><a class="l-cards__nav-right" href="#"><i class="fa fa-angle-left"></i></a>
      </div>
        <ul class="l-cards__list">
        <li class="l-cards__item">
          <a href="#" class="l-cards__image fill"></a>
          <a href="#" class="l-cards__text"></a>
        </li>

        <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
          <a href="#" class="l-cards__text"></a></li>

        <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
          <a href="#" class="l-cards__text"></a></li>

        <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
          <a href="#" class="l-cards__text"></a></li>
        <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
          <a href="#" class="l-cards__text"></a></li>
        <li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>
          <a href="#" class="l-cards__text"></a></li>
        <!--<li class="l-cards__item"><a href="#" class="l-cards__image fill"></a>-->
          <!--<a href="#" class="l-cards__text"></a></li>-->
      </ul>
    </section>


  </article>
</main>

</body>

</html>
