<h5 class="c-header">My reviews </h5>
<div class="container" *ngFor="let movie of profile.wishList">
  <div class="row w__item">
    <div class="col-3 w__img-wrap">

      <!--TODO: movie poster here-->
      <img src={{movie.poster}} alt="{{movie.title}}">
    </div>

    <div class="col-9 review">
      <!--TODO: review title here-->
      <h5 class="r-title">An enchanting re-imagining of Beauty and the Beast</h5>

      <!--TODO: movie title here-->
      <p class="r-title__sub">
        Rated: {{movie.title}}
        <i class="fa fa-star" style="margin-left: 15px"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <!--TODO: user rating goes here-->
        <i style="margin-left: 5px;">4.0/5.0</i>
      </p>
      <!-- TODO: review content here, use substring(), so only display first 3 lines-->
      <p class="review__content">The progressive agenda wins the Oscar! Love that! Wait, nope-I draw the line at interspecies carnality. When protesting persecution and lauding universal love, at least pick a metaphor not as universally reviled...</p>
      <!--<a routerLink="/movie/{{movie.imdbId}}" class="s-item__title">{{movie.title}} ({{movie.releaseDate.toString().substring(0, 4)}})</a>-->
      <div class="button__group">
        <button class="c-update-btn r-update-btn">Update</button>
        <button class="c-update-btn r-update-btn button__warning">Delete</button>
      </div>
    </div>

  </div>
</div>
<ngb-pagination class="d-flex justify-content-left" [collectionSize]="20" ></ngb-pagination>
