<h5 class="c-header">My reviews </h5>
<div class="container" *ngFor="let review of reviews">
  <div class="row w__item">
    <div class="col-3 w__img-wrap">
      <img src={{review.movie.poster}} alt="{{review.movie.title}}">
    </div>

    <div class="col-9 review">
      <!--TODO: review title here-->
      <h5 class="r-title">{{review.title}}</h5>


      <p class="r-title__sub">
        Rated: {{review.movie.title}}
        <i class="fa fa-star" style="margin-left: 15px"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <!--TODO: user rating goes here-->
        <i style="margin-left: 5px;">4.0/5.0</i>
      </p>
      <!-- TODO: review content here, use substring(), so only display first 3 lines-->
      <p class="review__content">{{review.reviewContent}}</p>
      <div class="button__group">
        <button class="c-update-btn r-update-btn">Update</button>
        <button class="c-update-btn r-update-btn button__warning">Delete</button>
      </div>
    </div>

  </div>
</div>
<ngb-pagination class="d-flex justify-content-left" [collectionSize]="20"></ngb-pagination>
