<h5 class="c-header">My reviews </h5>
<div class="container" *ngFor="let review of reviews">
  <div class="row w--item">
    <div class="col-2 item--img">
      <img [src]="review.movie.poster" alt="movie poster">
    </div>
    <div class="col-10 testimonial">
      <div class="t_title" style="margin-top: 0">
        <h6>
          <a class="r_movie--title" routerLink="/movie/{{review.movie.imdbId}}">{{review.movie.title}}</a>
          <span>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
                  <i style="margin-left: 5px">{{review.userRating}}.0</i>
            </span>
          on {{review.postedDate | date}}
        </h6>

        <div class="t_buttons">
          <button class="c-update-btn" (click)="open(content, review)">Update</button>
          <button class="c-update-btn button__warning" (click)="deleteReview(review)">Delete</button>
        </div>

      </div>
      <div class="t_content" >
        <h6 class="content_title"><a>{{review.title}} </a></h6>
        <p class="content_text">
          {{review.reviewContent}}
        </p>

      </div>
    </div>

  </div>
</div>
<!--<ngb-pagination class="d-flex justify-content-left" [collectionSize]="20"></ngb-pagination>-->

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit Review</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <form>

      <div>
        <label>Title</label>
        <input type="text" [(ngModel)]="clickedReview.title" name="clicked_review_title">
      </div>

      <div>
        <h2>Content</h2>
        <br>
        <textarea [(ngModel)]="clickedReview.reviewContent" name="clicked_review_content" id="" cols="30" rows="10">
          </textarea>
      </div>

      <button class="btn" (click)="editReview()">Submit</button>
    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
