<main>

  <!-- if reg user profile not private -->
  <div class="container" *ngIf="!publicProfile.isPrivate">
    <div class="row">
      <div class="col-avatar avatar">
        <img [src]="publicProfile.profileImage" [alt]="publicProfile.username"/>
      </div>


      <div class="col-bio bio">
        <!--TODO username, bio, account creation date-->
        <h5>{{publicProfile.username}}
          <span *ngIf="publicProfile.isCritic">
            <button class="btn-follow">Critic</button>
          </span>
        </h5>
        <p>biography: {{publicProfile.biography}}</p>
        <p>Joined on: {{publicProfile.accountCreatedDate | date}}</p>
      </div>
    </div>
    <!--./row-->

    <!-- wish list-->
    <div class="row portfolio">
      <h5 class="p_header"><span>{{publicProfile.username}}'s wish list</span></h5>

      <div class="container">
        <div class="row">
          <div *ngFor="let movie of publicProfile.wishList" class="col-2 r_wishlist">
            <img [src]="movie.poster" [alt]="movie.title">
            <p class="wishlist--title">{{movie.title}}</p>
            <i class="wishlist--rating">{{movie.criticRating}}/5.0</i>
          </div>

        </div>
      </div>

    </div>

    <!-- uninterested list-->
    <div class="row portfolio">
      <h5 class="p_header"><span>{{publicProfile.username}}'s uninterested list</span></h5>

      <div class="container">
        <div class="row">
          <div *ngFor="let movie of publicProfile.notInterestedList" class="col-2 r_wishlist">
            <img [src]="movie.poster" [alt]="movie.title">
            <p class="wishlist--title">{{movie.title}}</p>
            <i class="wishlist--rating">{{movie.criticRating}}/5.0</i>
          </div>

        </div>
      </div>

    </div>

    <!--Latest reviews-->
    <div class="row portfolio">
      <h5 class="p_header"><span>{{publicProfile.username}}'s reviews</span></h5>

      <div class="container reviews">
        <div *ngFor="let review of publicProfile.userReviews" class="row">
          <!--<div class="col-2">-->
            <!--<img [src]="review.movie.poster" alt="poster">-->
          <!--</div>-->
          <div class="col-12 testimonial">
            <div class="t_title">
              <h6>
                <a class="r_movie--title" routerLink="/movie/{{review.movie.imdbId}}">{{review.movie.title}}</a>
                <span>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
                  <i style="margin-left: 5px">{{review.userRating}}.0</i>
            </span>
                on {{review.postedDate | date}}
              </h6>

              <div class="t_buttons">
                <button class="c-update-btn"><i class="fa fa-flag"></i> Report</button>
                <!--TODO: open up a modal, fill out report-->
                <button class="c-update-btn"><i class="fa fa-thumbs-up"></i> 222</button>
              </div>

            </div>
            <div class="t_content">
              <!--TODO: user review content goes here. review content show first 3 lines-->
              <h6 class="content_title"><a>{{review.title}} </a></h6>
              <p class="content_text">
                {{review.reviewContent}}
              </p>

            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- latest ratings -->
    <div class="row portfolio">
      <h5 class="p_header"><span>{{publicProfile.username}}'s ratings</span></h5>

      <div class="container reviews">
        <div *ngFor="let row of publicProfile.userRatings | row:2" class="row r_ratings" >
          <div *ngFor="let userRating of row" class="col-6">
            <div class="row">
              <div class="col-2">
                <img [src]="userRating.ratedMovie.poster" alt="poster">
              </div>

              <div class="col-10 testimonial">
                <div class="t_title">
                  <h6>
                    <a class="r_movie--title" routerLink="/movie/{{userRating.ratedMovie.imdbId}}">{{userRating.ratedMovie.title}}</a>
                  </h6>
                </div>
                <div class="t_title">
                  <h6>
                  <span style="margin-left: 0">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                    <i style="margin-left: 5px">{{userRating.userRating}}.0</i>
              </span>
                    on {{userRating.ratedDate | date}}
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!--followers-->
    <div class="row portfolio">
      <h5 class="p_header"><span>Followers</span></h5>
    </div>


  </div>
  <!--./container-->

</main>
