<main>

  <div class="container testimonial-wrap">

    <!--TODO: movie title goes here-->
    <div class="row t_header">
      <h6>Blade Runner 2049 (200 reviews)</h6>
    </div>
    <div class="row t_rank">
      <a>Latest </a> |
      <a> Most liked</a>
    </div>

    <!--TODO: fetch 20 reviews-->
    <div class="row">
      <div class="testimonial">
        <div class="t_title">
          <!--TODO: user profile image goes here-->
          <img src="https://user-images.githubusercontent.com/20979257/36620069-64e71fbe-18bf-11e8-87e8-565e2fc4d6da.jpeg"
               alt="user" />

          <!--TODO: USERNAME rated USER_RATING on RATED_DATE-->
          <h6>
            Melanie rated
            <span>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </span>
            on 2018-04-20
          </h6>

          <div class="t_buttons">
            <button class="c-update-btn"><i class="fa fa-flag"></i> Report</button>
            <button class="c-update-btn"><i class="fa fa-thumbs-up"></i> 222</button>
          </div>

        </div>
        <div class="t_content">
          <!--TODO: user review content goes here. review content show first 3 lines-->
          <h6 class="content_title"><a>review title goes here </a></h6>
          <p class="content_text">
            review content goes here. the movie's worldview is as easy to like as the protagonist and her friends, but del toro lays it on so thick that there's
            no room for the movie's worldview is as easy to like as the protagonist review content goes here. the movie's worldview is as easy to like as the protagonist and her friends, but del toro lays it on so thick that there's
            no room for the movie's worldview is as easy to like as the protagonist ...
            <a class="t_full-text">(Expand)</a>
          </p>

        </div>
      </div>
    </div>
    <!--./row-->
    <div class="row">
      <div class="testimonial">
        <div class="t_title">
          <!--TODO: user profile image goes here-->
          <img src="https://user-images.githubusercontent.com/20979257/36620069-64e71fbe-18bf-11e8-87e8-565e2fc4d6da.jpeg"
               alt="user" />

          <!--TODO: USERNAME rated USER_RATING on RATED_DATE-->
          <h6>
            Melanie rated
            <span>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </span>
            on 2018-04-20
          </h6>

          <div class="t_buttons">
            <button class="c-update-btn"><i class="fa fa-flag"></i> Report</button>
            <button class="c-update-btn"><i class="fa fa-thumbs-up"></i> 222</button>
          </div>

        </div>
        <div class="t_content">
          <!--TODO: user review content goes here. review content show first 3 lines-->
          <h6 class="content_title"><a>review title goes here </a></h6>
          <p class="content_text">
            review content goes here. the movie's worldview is as easy to like as the protagonist and her friends, but del toro lays it on so thick that there's
            no room for the movie's worldview is as easy to like as the protagonist review content goes here. the movie's worldview is as easy to like as the protagonist and her friends, but del toro lays it on so thick that there's
            no room for the movie's worldview is as easy to like as the protagonist ...
            <a class="t_full-text">(Expand)</a>
          </p>

        </div>
      </div>
    </div>
    <!--./row-->
    <div class="row">
      <div class="testimonial">
        <div class="t_title">
          <!--TODO: user profile image goes here-->
          <img src="https://user-images.githubusercontent.com/20979257/36620069-64e71fbe-18bf-11e8-87e8-565e2fc4d6da.jpeg"
               alt="user" />

          <!--TODO: USERNAME rated USER_RATING on RATED_DATE-->
          <h6>
            Melanie rated
            <span>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </span>
            on 2018-04-20
          </h6>

          <div class="t_buttons">
            <button class="c-update-btn"><i class="fa fa-flag"></i> Report</button>
            <button class="c-update-btn"><i class="fa fa-thumbs-up"></i> 222</button>
          </div>

        </div>
        <div class="t_content">
          <!--TODO: user review content goes here. review content show first 3 lines-->
          <h6 class="content_title"><a>review title goes here </a></h6>
          <p class="content_text">
            review content goes here. the movie's worldview is as easy to like as the protagonist and her friends, but del toro lays it on so thick that there's
            no room for the movie's worldview is as easy to like as the protagonist review content goes here. the movie's worldview is as easy to like as the protagonist and her friends, but del toro lays it on so thick that there's
            no room for the movie's worldview is as easy to like as the protagonist ...
            <a class="t_full-text">(Expand)</a>
          </p>

        </div>
      </div>
    </div>
    <!--./row-->
    <div class="row">
      <ngb-pagination class="d-flex justify-content-center" [collectionSize]="20" ></ngb-pagination>
    </div>

  </div>
  <!--./container-->

</main>
