<html>
<body>
<main>
  <div class="container">
    <div class="row">
      <!--  sidebar: movies category  -->
    <div class="col-sidebar sidebar">
      <ul class="s-explore">
        <!--     in theaters -->
        <li class="s-explore__title"><h3>In Theaters</h3></li>
        <li class="s-explore__item active"><a href="#">opening this week</a></li>
        <li class="s-explore__item"><a href="#">top box office</a></li>
        <li class="s-explore__item"><a href="#">coming soon</a></li>
        <li class="s-explore__item"><a href="#">certified fresh movies</a></li>

        <!--     dvds -->
        <li class="s-explore__title"><h3>dvd & streaming movies</h3></li>
        <li class="s-explore__item"><a href="#">browser all</a></li>
        <li class="s-explore__item"><a href="#">top DVD & streaming</a></li>
        <li class="s-explore__item"><a href="#">coming soon</a></li>
        <li class="s-explore__item"><a href="#">certified fresh movies</a></li>

        <!--     tv -->
        <li class="s-explore__title"><h3>TV</h3></li>
        <li class="s-explore__item"><a href="#">new TV tonight</a></li>
        <li class="s-explore__item"><a href="#">most popular tv on RT</a></li>
        <li class="s-explore__item"><a href="#">certified fresh TV</a></li>

      </ul>

      <!--  2nd box  -->
      <ul class="s-explore">
        <!--     in theaters -->
        <li class="s-explore__title"><h3>You may like</h3></li>
        <li class="s-explore__item">
          <a href="#">Blade Runner 2049</a>
          <span class="s-explore__rating">4.9/5.0</span>
        </li>
        <li class="s-explore__item"><a href="#">Coco</a><span class="s-explore__rating">4.9/5.0</span></li>
        <li class="s-explore__item"><a href="#">Call Me By Your Name</a><span
          class="s-explore__rating">4.9/5.0</span></li>
        <li class="s-explore__item"><a href="#">Lady Bird</a><span class="s-explore__rating">4.9/5.0</span></li>
        <li class="s-explore__item"><a href="#">Blade Runner 2049</a><span
          class="s-explore__rating">4.9/5.0</span></li>
        <li class="s-explore__item"><a href="#">Coco</a><span class="s-explore__rating">4.9/5.0</span></li>
        <li class="s-explore__item"><a href="#">Call Me By Your Name</a><span
          class="s-explore__rating">4.9/5.0</span></li>
        <li class="s-explore__item"><a href="#">Lady Bird</a><span class="s-explore__rating">4.9/5.0</span></li>
        <li class="s-explore__item"><a href="#">Blade Runner 2049</a><span
          class="s-explore__rating">4.9/5.0</span></li>
        <li class="s-explore__item"><a href="#">Coco</a><span class="s-explore__rating">4.9/5.0</span></li>
        <li class="s-explore__item"><a href="#"><span style="color: white;">more <i
          class="fa fa-angle-right"></i></span></a></li>
      </ul>
    </div> <!-- ./end left panel -->

    <!--  right panel -->
    <div class="col-right content-wrap">

      <!-- 	1st section	 -->
      <div class="container l-cards">
        <div class="row">
          <h2 class="col-10 l-cards__title">opening this week </h2>
          <a class="col-1 l-cards__more" (click)="setListView(false)"><i class="fa fa-th-large"></i> </a>
          <a class="col-1 l-cards__more" (click)="setListView(true)"><i class="fa fa-list-ul"></i> </a>
        </div>


        <!-- grid view-->
        <ul *ngIf="!isListView" class="row l-cards__table">
          <li  *ngFor="let movie of moviesPlaying"  class="col-3 l-cards__item">
            <a routerLink="/movie/{{movie.imdbId}}" class="l-cards__image fill"><img [src]="movie.poster"></a>
            <a href="/movie/{{movie.imdbId}}" class="l-cards__text">{{movie.title}} <i class="item__rating"> {{movie.regUserRating}}</i></a>
          </li>
        </ul> <!-- .row -->

        <!-- list view -->
        <ul *ngIf="isListView" class="row l-cards__list">
          <li  *ngFor="let movie of moviesPlaying"  class="col-12 l-cards__item">
            <div class="container"><div class="row">
              <a routerLink="/movie/{{movie.imdbId}}" class="col-2 l-cards__image fill"><img [src]="movie.poster"></a>
              <div class="col-10">
                <h5 class="item__title">{{movie.title}}</h5>
                <p class="cards__rating">
                  <i class="fa fa-star item__rating"></i>
                  <i class="fa fa-star item__rating"></i>
                  <i class="fa fa-star item__rating"></i>
                  <i class="fa fa-star item__rating"></i>
                  <i class="fa fa-star item__rating" style="margin-right: 5px"></i>
                  <span> ({{movie.numOfCriticRatings + movie.numOfRegUserRatings}} Ratings)</span>
                </p>
                <p class="cards__content">
                  <span>{{movie.plot.substring(0, 150)}}</span>
                </p>
                <p class="cards__content">
                  Director: <span>{{movie.director.name}}</span>
                </p>
                <p class="cards__content">
                  Starring: <span *ngFor="let cast of movie.casts | slice:0:4">{{cast.name}}, </span>
                </p>

              </div>
            </div></div>
          </li>
        </ul> <!-- .row -->

      </div>
      <!--   pagination   -->
      <!--<ngb-pagination [collectionSize]="movieNumberOfPages" [(page)]="1" [maxSize]="5" (pageChange)="getMoviesPlayingNextPage($event)" [ellipses]="false" [boundaryLinks]="true" >-->
        <!---->
      <!--</ngb-pagination>-->

    </div> <!-- ./end right panel -->

    </div> <!-- ./row -->
    </div> <!-- ./container -->

</main>
</body>
</html>
