$color-red: rgb(229, 9, 20);
$color-gray: gray;
$link-hover: lighten(black, 60%);
$link-active: darken(gray, 30%);
$sidebar-link-hover: white;
$sidebar-link: darken(white, 20%);
$main-background: lighten(black, 10%);
$color-plot: lighten(black, 60%);

@mixin cols ($width, $padding-left, $padding-right){
  width: $width;
  float:left;
  position: relative;
  min-height: 1px;
  padding-right: $padding-right;
  padding-left: $padding-left;
}

main{
  background-color: lighten(black, 10%);
  height: 100%;
  padding-top: 3%;
  padding-bottom: 5%;
}
.col-sidebar {
  @include cols(28%, 1px, 1px);
}
.col-right {
  @include cols(71.5%, 0, 0);
}
.sidebar {
  padding-left:3%;
}
.col-20 {
  @include cols(19.5%, 10px, 10px);
}
.content-wrap {
  padding-left:1%;
  padding-right: 0%;
}

.s-explore {
  padding: 0.5em 0;
  border: 1px solid darken(gray, 20%);
  margin-bottom: 3%;

  .active {
    background-color: $link-active;
    a {
      color: white !important;
    }
  }

  .s-explore__title {
    padding: 0.1em 1em;
    color: white;
    h3 {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      margin: 0;
      padding: 5px 0 5px 0;
    }
  }

  .s-explore__item {
    padding: 0 1.5em;
    a {
      color: $sidebar-link !important;
      font-size: 14px;
      text-transform: capitalize;
      cursor: pointer;
    }
    a:hover {
      color: $sidebar-link-hover !important;
    }

    // ratings
    span {
      float: right;
      font-size: 14px;
      color: #e50914;
    }

  }

}



// content-wrap
.l-cards {

  color: white;

  a:hover {
    color: $link-hover;
  }

  .l-cards__title {
    color: white;
    font-size: 1.1em;
    display: inline;
    text-transform: uppercase;
    font-weight: 400;
  }

  .l-cards__more:first-of-type {
    position: absolute;
    right: 4.5%;
    font-size: 1.1em;
  }
  .l-cards__more:last-of-type {
    position: absolute;
    right: 0;
    font-size: 1.1em;
  }

}

.l-cards__table {
  margin-top: 0.6rem;
  padding: 0 20px;

  .l-cards__item {
    text-align: center;
    overflow: hidden;
    letter-spacing: 0;
    padding: 0 20px;
  }

  .l-cards__image {
    img {
      height: 11em;
    }
  }

  .l-cards__text {
    font-size: 12px;
  }

}

.item__rating {
  color: $color-red;
  margin-right: -5px;
}


.l-cards__item {
  margin-bottom: 1em;
}

.l-cards__list {
  color: white;
  margin-top: 1em;

  .item__title {
    font-size: 16px;
    font-weight: 400;
  }

  .cards__content {
    font-size: 14px;
  }

  .cards__rating, .cards__content span{
    color: $color-plot;
    font-size: 14px;
  }


}

























