<html><body><main>

  <div class="container">
    <div class="row">
      <div class="col-avatar avatar">
        <!--TODO profile image-->
        <img class="" src="https://user-images.githubusercontent.com/20979257/36620069-64e71fbe-18bf-11e8-87e8-565e2fc4d6da.jpeg"
             alt="user" />
      </div>


      <div class="col-bio bio">
        <!--TODO username, bio, account creation date-->
        <h5>Melanie <button class="btn-follow"> <i class="fa fa-user-plus"></i> 666</button> </h5>
        <p>The greatest invention has yet to come</p>
        <p>Join on: 2018-04-10</p>
      </div>
    </div>
    <!--./row-->

    <div class="row portfolio">
      <h5 class="p_header"><span>Latest reviews</span></h5>

      <div class="container reviews">
        <!--TODO: display 3 reviews-->
        <div class="row">
          <div class="col-2 r_img-wrap">
            <!--TODO: movie poster here-->
            <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BNzA1Njg4NzYxOV5BMl5BanBnXkFtZTgwODk5NjU3MzI@._V1_SX300.jpg" alt="poster">
          </div>
          <div class="col-10 testimonial">
            <div class="t_title">
              <!--TODO: USERNAME rated MOVIE_NAME USER_RATING on RATED_DATE-->
              <h6>
                Melanie rated <i class="r_movie--title">Blade Runner 2049</i>
                <span>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </span>
                on 2018-04-20
              </h6>

              <div class="t_buttons">
                <button class="c-update-btn"><i class="fa fa-flag"></i> Report</button>
                <!--TODO: open up a modal, fill out report-->
                <button class="c-update-btn"><i class="fa fa-thumbs-up"></i> 222</button>
              </div>

            </div>
            <div class="t_content">
              <!--TODO: user review content goes here. review content show first 3 lines-->
              <h6 class="content_title"><a>This is a review title </a></h6>
              <p class="content_text">
                review content goes here. the movie's worldview is as easy to like as the protagonist and her friends, but del toro lays it on so thick that there's
                no room for the movie's worldview is as easy to like as the protagonist...
                <a class="t_full-text">(Expand)</a>
              </p>

            </div>
          </div>
        </div>
        <!--./row-->

      </div>
    </div>

    <!--best reviewed movies-->
    <div class="row portfolio">
      <h5 class="p_header"><span>Best reviewed movies</span></h5>
      <h6>What is this?</h6>
    </div>

    <!--worst reviewed movies-->
    <div class="row portfolio">
      <h5 class="p_header"><span>Worst reviewed movies</span></h5>
      <h6>What is this?</h6>
    </div>

    <div class="row portfolio">
      <h5 class="p_header"><span>Followers</span></h5>
    </div>


    </div>
  <!--./container-->

</main></body></html>
