$btn-hover: lighten(black, 40%);
$btn-normal: lighten(black, 20%);

.btn-follow {
  cursor: pointer;
  border: 1px solid lighten(black, 25%);
  border-radius: 5px;
  padding: 3px 8px;
  color: white;
  background-color: $btn-normal;
}
.btn-follow:hover {
  background-color: $btn-hover;
}

.c-update-btn {
  cursor: pointer;
  border: 1px solid lighten(black, 25%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  background-color: lighten(black, 20%);
  font-size: 14px;
  float: right;
}
.c-update-btn:hover {
  background-color: lighten(black, 40%);
}
// overwrite
.content_text {
  white-space: pre-line;
  font-size: 14px;
}
.t_title {
  h6 {
    color: lighten(gray, 20%);
  }
  .r_movie--title {
    color: lighten(gray, 40%);
  }
}
