<header class="l-header">
  <div class="l-header__logo">
    <a href="home.html">
      <img width="1101" alt="logo2"
           src="https://user-images.githubusercontent.com/20979257/36292556-87d50d58-12a0-11e8-9769-f26697c37274.png">
    </a>
  </div>

  <ul class="l-header__nav">
    <input class="l-header__search input-search" type="text" placeholder="   Seach movies, TV, actors, more...">
    <li><a href="all_movies.html">Movies</a></li>
    <li><a href="all_movies.html">TV Shows</a></li>
    <li><a href="signon.html">Log in</a></li>
    <li><a href="signon.html">Sign up</a></li>
  </ul>
</header>
