<header class="l-header">
  <nav class="l-header__logo">
    <a routerLink="/home" routerLinkActive="active">
      <img alt="logo" src="../../../assets/images/logo.png">
    </a>
  </nav>

  <nav class="l-header__nav">
    <a>
      <form>
        <input type="search" placeholder="Search">
      </form>
    </a>
    <a routerLink="/#" routerLinkActive="active">Movies</a>
    <a routerLink="/#" routerLinkActive="active">TV Shows</a>
    <a routerLinkActive="active" class="trigger" href="javascript:;">Log in / Sign up</a>
    <!--<a routerLinkActive="active" class="trigger" href="javascript:;">Sign up</a>-->
  </nav>
</header>

<app-login></app-login>
