$color-red: rgb(229, 9, 20);
$padding-hrz: 2.5rem;
$shadow: lighten(black, 10%);

@mixin box_shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

.l-header{
  font-size: 16px;
  padding: 0 $padding-hrz;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  //@include box_shadow(0, 5px, 5px, $shadow);

  > *{
    padding-top: 10px;
    padding-bottom: -15px;
  }
}

.l-header__logo{
  width: 250px;
}

.l-header__browse{
  color: $color-red;
  font-weight: bold;
  margin-right: auto;
  margin-left: 40px;
  padding-right: 40px;
}
.l-header__search{
  width: 20rem;
  height: 2rem;
  border-radius: 5px;
  border: none;
  margin-top: -8px;
  font-size: 0.8rem;
}
.l-header__nav{
  display: flex;
  color: white;
  > * + *{
    margin-left: 32px;
  }
}
