<main>

  <section id="about">

    <h3>Cinema Paradiso About Page</h3>
    <p>Cinema Paradiso is a website for </p>

    <h4>Who we are</h4>
    <p>We are two people team. Ruoping Lin and Bin Zhou, we design and program the code for this web application. Little bit about me (Bin), I like to explore new web technologies and find use of them in my personal project. In my personal time, I like to look for music to listen, one of my favorite appilcation is Netease Music, and one of my favorite piece of music is ドクターXのテーマ.</p>

    <h4>What is the project</h4>
    <p>This is a Rotten Tomato like web application. User can singup and post reviews, rate movies, and many more functionalities. For the front end, we use Angular and modularize the code, and for the back end, we use Spring Boot to create Restful API for the backend to access the data in the database. The reason we want separate front end and back end is because this we the front end developer can develop with dummy server. While the back end developer can develop with dummy requests using Postman. Separating the font end and back end speeds up the development cycle</p>

    <h4>Etc..</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl magna, vestibulum quis gravida congue, mattis
      vitae neque. Aenean gravida ipsum in mauris rutrum molestie gravida vel purus. Mauris mollis mattis leo, et luctus
      ex placerat quis. Aenean lacinia at turpis non accumsan. Phasellus a ullamcorper magna. Suspendisse elementum dignissim
      magna, dignissim aliquam elit porttitor quis. Nam porta mi magna, at convallis elit aliquet eleifend. Duis in ligula
      semper, vestibulum mauris et, pulvinar dui. In ultricies quam ac magna finibus, at porttitor tortor dapibus. Vivamus
      pulvinar bibendum tincidunt. Donec ipsum nunc, malesuada quis vehicula a, vulputate sit amet magna. Integer lobortis
      magna hendrerit quam bibendum auctor. Nullam ultrices dui nec ante gravida, at malesuada magna dictum. Nunc sagittis
      ullamcorper lorem sit amet tempus. Donec facilisis eros eget sollicitudin consectetur. Aliquam aliquam sed magna vel
      dapibus. Cras vulputate arcu ac dui maximus aliquet. Morbi sit amet lorem mollis, mattis velit ut, aliquet felis. Morbi
      malesuada congue nisl nec venenatis. Sed felis ante, porttitor nec justo ut, volutpat ultricies tellus. Sed posuere
      imperdiet mattis. Ut vitae velit magna. Etiam eu porta libero. Praesent rhoncus at neque eu ultricies. Morbi accumsan
      libero vel placerat ultricies. Fusce risus orci, mattis quis ipsum quis, pharetra dictum lacus. Nunc ut interdum leo.
      Ut odio magna, commodo ultrices dolor vel, posuere finibus nulla. Morbi rutrum ultricies sodales. Cras pharetra lorem
      posuere, pulvinar ante at, dictum est. Praesent sit amet leo aliquam, varius orci et, pulvinar felis. Suspendisse lorem
      nisi, porttitor sit amet dui vitae, suscipit placerat ipsum. Phasellus gravida sem et diam sagittis, non facilisis
      velit faucibus. Proin auctor hendrerit neque, nec fringilla neque pharetra nec. Vivamus faucibus lacus nec bibendum
      varius. Sed eget magna ac velit placerat pellentesque nec ac felis. Sed porttitor, nibh eget efficitur placerat, odio
      est lobortis magna, a faucibus elit lacus ac magna. Maecenas rutrum dolor at hendrerit elementum. Morbi faucibus vel
      elit vitae mollis. Duis a eros lorem. Vivamus aliquam, elit a hendrerit bibendum, erat lorem vestibulum purus, eget
      vehicula diam lacus nec nisi. Donec scelerisque dui vitae fermentum blandit. Donec vehicula massa vel nibh molestie
      pulvinar. Nullam ut leo nisi. Ut cursus ipsum quis ligula vehicula, sed interdum lacus porta. Donec dignissim ullamcorper
      diam, non efficitur augue faucibus ut. Integer ullamcorper tellus lectus, feugiat molestie justo tristique accumsan.
      Fusce massa justo, mollis vitae convallis ac, imperdiet maximus urna. Suspendisse dignissim, eros sit amet dignissim
      vulputate, mauris metus condimentum arcu, et aliquet massa tortor porta lorem. Pellentesque auctor tempus finibus.
      Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed ac pulvinar tellus. Aenean lectus enim, dignissim
      sit amet porttitor sed, viverra vitae sem. Nunc eget fringilla lectus. Donec eget lorem ultrices, faucibus quam sit
      amet, commodo ipsum. Etiam at condimentum ipsum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
      cubilia Curae; Cras nec volutpat magna. Duis at ex quis mauris bibendum efficitur.</p>

  </section>


</main>