<main>

  <section id="about">

    <h3 style="padding-top: 20px">About us</h3>

    <h5>Our Mission</h5>
    <p id="mission">To make the world a better place.</p>

    <h5>Who we are</h5>
    <p>We are two people team. Melanie Lin and Bin Zhou, we design and program the code for this web application. Little
      bit about me (Bin), I like to explore new web technologies and find use of them in my personal project. In my
      personal time, I like to look for music to listen, one of my favorite appilcation is Netease Music, and one of my
      favorite piece of music is ドクターXのテーマ.</p>

    <h5>About this project</h5>
    <p>This is a Rotten Tomato like web application. User can singup and post reviews, rate movies, and many more
      functionalities. For the front end, we use Angular and modularize the code, and for the back end, we use Spring
      Boot to create Restful API for the backend to access the data in the database. The reason we want separate front
      end and back end is because this we the front end developer can develop with dummy server. While the back end
      developer can develop with dummy requests using Postman. Separating the font end and back end speeds up the
      development cycle.</p>

  </section>


</main>
