
  <h5 class="c-header">Change password</h5>
  <form target="_blank" #changePasswordForm="ngForm" (submit)="changePassword(changePasswordForm)">

    <div class="c-inputs">
      <label>Old password</label>
      <input type="password" name="oldPassword" placeholder="**********" required [(ngModel)]="oldPassword">
    </div>

    <div class="c-inputs">
      <label>New Password</label>
      <input type="password" name="newPassword" placeholder="**********" required [(ngModel)]="newPassword">
    </div>

    <button type="submit" class="c-update-btn">Update password</button>
  </form>

  <!-- change username-->
  <h5 class="c-header">Change username</h5>
  <form>
    <div class="c-inputs">
      <label>Changing your username can have unintended side effects.</label>
      <input [placeholder]="profile.username">
      <button class="c-update-btn">Change username</button>
    </div>
  </form>

  <h5 class="c-header span-warning">Delete account</h5>
  <form>
    <div class="c-inputs">
      <label>Once you delete your account, there is no going back. Please be certain!</label>
      <button class="c-update-btn" style="margin-top: 0;">Delete account</button>
    </div>
  </form>
