<section class="md_wrap">
  <h2 class="md-title">
    <span>critic reviews</span>
  </h2>

  <div class="container">
    <!--TODO: show 3 rows-->
    <div class="row">
      <div class="testimonial">
        <div class="t_title">
          <!--TODO: user profile image goes here-->
          <img src="https://user-images.githubusercontent.com/20979257/36620069-64e71fbe-18bf-11e8-87e8-565e2fc4d6da.jpeg"
               alt="user" />

          <!--TODO: USERNAME rated USER_RATING on RATED_DATE-->
          <h6>
            Melanie rated
            <span>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </span>
            on 2018-04-20
          </h6>

          <div class="t_buttons">
            <button class="c-update-btn"><i class="fa fa-thumbs-down"></i> 111</button>
            <button class="c-update-btn"><i class="fa fa-thumbs-up"></i> 222</button>
          </div>

        </div>
        <div class="t_content">
          <!--TODO: user review content goes here. review content show first 3 lines-->
          <h6 class="content_title"><a>review title goes here </a></h6>
          <p class="content_text">
            review content goes here. the movie's worldview is as easy to like as the protagonist and her friends, but del toro lays it on so thick that there's
            no room for the movie's worldview is as easy to like as the protagonist...
            <a class="t_full-text">(Full)</a>
          </p>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="testimonial">
        <div class="t_title">
          <!--TODO: user profile image goes here-->
          <img src="https://user-images.githubusercontent.com/20979257/36620069-64e71fbe-18bf-11e8-87e8-565e2fc4d6da.jpeg"
               alt="user" />

          <!--TODO: USERNAME rated USER_RATING on RATED_DATE-->
          <h6>
            Melanie rated
            <span>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </span>
            on 2018-04-20
          </h6>

          <div class="t_buttons">
            <button class="c-update-btn"><i class="fa fa-thumbs-down"></i> 111</button>
            <button class="c-update-btn"><i class="fa fa-thumbs-up"></i> 222</button>
          </div>

        </div>
        <div class="t_content">
          <!--TODO: user review content goes here. review content show first 3 lines-->
          <h6 class="content_title"><a>review title goes here </a></h6>
          <p class="content_text">
            review content goes here. the movie's worldview is as easy to like as the protagonist and her friends, but del toro lays it on so thick that there's
            no room for the movie's worldview is as easy to like as the protagonist...
            <a class="t_full-text">(Full)</a>
          </p>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="testimonial">
        <div class="t_title">
          <!--TODO: user profile image goes here-->
          <img src="https://user-images.githubusercontent.com/20979257/36620069-64e71fbe-18bf-11e8-87e8-565e2fc4d6da.jpeg"
               alt="user" />

          <!--TODO: USERNAME rated USER_RATING on RATED_DATE-->
          <h6>
            Melanie rated
            <span>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </span>
            on 2018-04-20
          </h6>

          <div class="t_buttons">
            <button class="c-update-btn"><i class="fa fa-thumbs-down"></i> 111</button>
            <button class="c-update-btn"><i class="fa fa-thumbs-up"></i> 222</button>
          </div>

        </div>
        <div class="t_content">
          <!--TODO: user review content goes here. review content show first 3 lines-->
          <h6 class="content_title"><a>review title goes here </a></h6>
          <p class="content_text">
            review content goes here. the movie's worldview is as easy to like as the protagonist and her friends, but del toro lays it on so thick that there's
            no room for the movie's worldview is as easy to like as the protagonist...
            <a class="t_full-text">(Full)</a>
          </p>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-10"></div>
      <div class="col-2">
        <a class="t_more">More <i class="fa fa-angle-double-right"></i></a>
      </div>
    </div>

  </div>

</section>

<!-- 	4th section	audience reviews -->
<section class="md_wrap">
  <h2 class="md-title">
    <span>audience reviews</span>
  </h2>
  <a class="md-more" href="#">more
    <i class="fa fa-angle-double-right"></i>
  </a>
  <div class="container">
    <div class="row">
      <!--<div class="col-md-12">-->
      <!--<div id="testimonial-slider2" class="owl-carousel">-->
      <div class="col-testimonial testimonial">
        <div class="testimonial-content">
          <div class="testimonial-icon">
            <i class="fa fa-quote-left"></i>
          </div>
          <p class="t_description">
            the shape of water is an ingenious fantasy romance that utilizes cold war era elements to the advantage of its premise while
            subtly

          </p>
        </div>
        <h3 class="title">drake tsui</h3>
        <span class="post">super reviewer</span>
      </div>
      <div class="col-testimonial testimonial">
        <div class="testimonial-content">
          <div class="testimonial-icon">
            <i class="fa fa-quote-left"></i>
          </div>
          <p class="t_description">
            guillermo del toro has found himself to be quite the respected filmmaker over the years but, if i had to be brutally honest,
            i'd

          </p>
        </div>
        <h3 class="title">mark walker</h3>
        <span class="post">super reviewer</span>
      </div>
      <div class="col-testimonial testimonial">
        <div class="testimonial-content">
          <div class="testimonial-icon">
            <i class="fa fa-quote-left"></i>
          </div>
          <p class="t_description">
            like many of del toro's movies, i just couldn't buy into it. i found myself not caring about the monster and i didn't buy
            the
          </p>
        </div>
        <h3 class="title">sanjay rema</h3>
        <span class="post">super reviewer</span>
      </div>

    </div>
  </div>
</section>
