<!--</section>-->
<section class="md_wrap">
  <h2 class="md-title">
    <span>Critic reviews</span>
  </h2>

  <div class="container" style="margin-top: 30px;">
    <!--TODO: show 3 rows-->

    <div *ngFor="let review of criticReviews.slice().reverse()">
      <div class="row">

        <div class="testimonial">
          <div class="t_title">
            <!--TODO: user profile image goes here-->
            <img class="title--profile-img"
                 [defaultImage]="'../../../../assets/images/default_profile.png'"
                 [lazyLoad]="review?.authorImage"/>

            <h6>
              <a routerLink="/portfolio/{{review.authorName}}">{{review.authorName}}</a> rated {{review.userRating}}.0
              <span>
              <i class="fa fa-star" [style.color]="review.userRating < 0.5 ? 'gray' : 'rgb(229, 9, 20)'"></i>
              <i class="fa fa-star" [style.color]="review.userRating < 1.5 ? 'gray' : 'rgb(229, 9, 20)'"></i>
              <i class="fa fa-star" [style.color]="review.userRating < 2.5 ? 'gray' : 'rgb(229, 9, 20)'"></i>
              <i class="fa fa-star" [style.color]="review.userRating < 3.5 ? 'gray' : 'rgb(229, 9, 20)'"></i>
              <i class="fa fa-star" [style.color]="review.userRating < 4.5 ? 'gray' : 'rgb(229, 9, 20)'"></i>
            </span>
              on {{review.postedDate | date  }}
            </h6>

            <!-- report review -->
            <div class="t_buttons">
              <button class="c-update-btn" (click)="openModal(reportReview, review)"><i class="fa fa-flag"></i> Report</button>
            </div>

          </div>
          <div class="t_content">
            <h6 class="content_title"><a>{{review.title}} </a></h6>
            <p class="content_text">
              {{review.reviewContent}}
            </p>

          </div>
        </div>
      </div>
    </div>

  </div>

</section>
<!-- audience reviews -->
<section class="md_wrap">
    <h2 class="md-title">
        <span>Audience reviews</span>
    </h2>

    <div class="container" style="margin-top: 30px;">
        <!--TODO: show 3 rows-->

        <div *ngFor="let review of userReviews.slice().reverse()">
            <div class="row">

                <div class="testimonial">
                    <div class="t_title">
                        <img class="title--profile-img"
                        [defaultImage]="'../../../../assets/images/default_profile.png'"
                             [lazyLoad]="review?.authorImage"/>

                        <h6>
                            <a routerLink="/portfolio/{{review.authorName}}">{{review.authorName}}</a> rated {{review.userRating}}.0
                            <span>
              <i class="fa fa-star" [style.color]="review.userRating < 0.5 ? 'gray' : 'rgb(229, 9, 20)'"></i>
              <i class="fa fa-star" [style.color]="review.userRating < 1.5 ? 'gray' : 'rgb(229, 9, 20)'"></i>
              <i class="fa fa-star" [style.color]="review.userRating < 2.5 ? 'gray' : 'rgb(229, 9, 20)'"></i>
              <i class="fa fa-star" [style.color]="review.userRating < 3.5 ? 'gray' : 'rgb(229, 9, 20)'"></i>
              <i class="fa fa-star" [style.color]="review.userRating < 4.5 ? 'gray' : 'rgb(229, 9, 20)'"></i>
            </span>
                            on {{review.postedDate | date  }}
                        </h6>

                        <div class="t_buttons">
                            <button class="c-update-btn" (click)="openModal(reportReview, review)"><i class="fa fa-flag"></i> Report</button>
                        </div>

                    </div>
                    <div class="t_content">
                        <h6 class="content_title"><a>{{review.title}} </a></h6>
                        <p class="content_text">
                            {{review.reviewContent}}
                        </p>

                    </div>
                </div>
            </div>
        </div>

    </div>

</section>

<ng-template #reportReview let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Report "{{clickedReview.title}}" by {{clickedReview.authorName}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form>
    <div class="modal-body">

        <textarea [(ngModel)]="reportReason"
                  placeholder="Why do you want to report this review?"
                  rows="5"
                  name="report_reason">
        </textarea>

    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark" (click)="report(reportReason)">Submit</button>
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
  </form>
</ng-template>
