<div>
  <main>

     <div class="container overview-wrap">
        <div class="row">
          <div class="col-1"></div>
          <div class="col-3 overview">
            <img class='people_portrait' src="{{celebrity.profileImage}}"
                 onError="this.src='../../../assets/images/no_image.png'" alt="">

          </div>

          <div class="col-8 detail">
            <h3 id="people_name">
              {{celebrity.name}}
            </h3>
            <p class="o-bio">
              {{celebrity.biography}}
            </p>

          </div>

        </div>
      </div>

  </main>
</div>
