<main>
  <!-- Sidebar/menu -->
  <div class="container">
    <div class="row">
      <nav class="col-sidebar sidebar">
        <ul class="s-tabs">
          <li class="s-tabs__list"><a>Account management</a></li>
          <li class="s-tabs__list"><a (click)="showDiv(1)">Profile summary</a></li>
          <li class="s-tabs__list"><a (click)="showDiv(3)">My wish list </a></li>
          <li class="s-tabs__list"><a (click)="showDiv(4)">My uninterested list </a></li>
          <li class="s-tabs__list"><a (click)="showDiv(5)">My reviews </a></li>
          <li class="s-tabs__list"><a (click)="showDiv(6)">My ratings </a></li>
          <li class="s-tabs__list"><a (click)="showDiv(7)">Account settings </a></li>

        </ul>

      </nav>

      <div class="col-right content">

        <!--profile summary-->
        <section class="c-profile" *ngIf="currentIndex === 1">
          <h5 class="c-header">Public profile</h5>

          <div *ngIf="profile.isCritic" class="c-inputs">
            <label>Account status: <span class="span-title">critic</span></label>
          </div>
          <div *ngIf="!profile.isCritic" class="c-inputs">
            <label>Account status: <span class="span-title">regular user</span></label>
          </div>
          <div class="c-inputs">
            <label>Joined on: <span class="span-title">{{profile.accountCreatedDate | date}}</span></label>
          </div>

          <div class="c-avatar">
            <img src="{{profile_url}}" id="profile_image">
            <button class="c-update-btn" id="update-avatar" (click)="open(content)">Update avatar</button>
          </div>

          <div class="c-inputs">
            <label>User name</label>
            <input [(ngModel)]="profile.username">
          </div>


          <div class="c-inputs">
            <label>Password</label>
            <input type="password" (input)="password = $event.target.value;">
          </div>

          <button class="c-update-btn" (click)="updateUsername(password)">Update Username</button>


          <div class="c-inputs">
            <label>Email</label>
            <input  [(ngModel)]="profile.email">
          </div>

          <div class="c-inputs">
            <label>Password</label>
            <input type="password" (input)="password = $event.target.value;">
          </div>

          <button class="c-update-btn" (click)="updateEmail(password)">Update email</button>

          <div class="c-inputs">
            <label>Bio</label>
            <textarea [(ngModel)]="profile.biography" name="biography">{{profile.biography}}</textarea>
          </div>
          <button class="c-update-btn" (click)="updateBiography()">Update profile</button>

          <div *ngIf="profile.isCritic == false">
            <br>
            <br>
            <h5 class="c-header">Critic Application</h5>

            <div class="c-inputs">
              <label>Reasons:</label>
              <textarea [(ngModel)]="reason" name="reason"></textarea>
            </div>

            <button class="c-update-btn" (click)="submitCriticApplication(reason)">Submit</button>
          </div>

        </section>

        <!--wish list-->
        <section class="c-wishlist" *ngIf="currentIndex === 3">
          <app-wishlist [profile]="profile"></app-wishlist>
        </section>

        <!--not interested list-->
        <div class="c-not-interested" *ngIf="currentIndex === 4">
          <app-not-interested [profile]="profile"></app-not-interested>
        </div>

        <!--review-->
        <div class="c-reviews" *ngIf="currentIndex === 5">
          <app-user-review [reviews]="myReviews"></app-user-review>
        </div>

        <!--ratings-->
        <div class="c-ratings" *ngIf="currentIndex === 6">
          <app-user-rating [profile]="profile" (eventEmitter)="deleteRating($event)"></app-user-rating>
        </div>

        <!--account settings-->
        <section class="c-account" *ngIf="currentIndex === 7">
          <app-account [profile]="profile"></app-account>
        </section>


      </div>
      <!--./right content-->
    </div>
    <!--./row-->
  </div>
  <!--./container-->
</main>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Change Profile Image</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      This is the uploading images section
    </p>

    <input type="file" (change)="upload($event)" required class="form-control " name="attach_file" id="attach_file">

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

