<html>

<body>
  <main>
    <!-- Sidebar/menu -->
    <div class="container">
      <div class="row">
    <nav class="col-sidebar sidebar">
      <ul class="s-tabs">
        <li class="s-tabs__list"><a>Account management</a></li>
        <li class="s-tabs__list"><a (click)="showDiv(1)" class="active" >Profile summary</a></li>
        <li class="s-tabs__list"><a >My followings </a></li>
        <li class="s-tabs__list"><a >My followers </a></li>
        <li class="s-tabs__list"><a (click)="showDiv(3)">My wish list </a></li>
        <li class="s-tabs__list"><a (click)="showDiv(4)">Not interested list </a></li>
        <li class="s-tabs__list"><a (click)="showDiv(5)">My reviews </a></li>
        <li class="s-tabs__list"><a (click)="showDiv(7)">Account Settings </a></li>

      </ul>

    </nav>

    <div class="col-right content">

      <!--profile summary-->
      <section class="c-profile" *ngIf="currentIndex === 1">
        <h5 class="c-header">Public profile</h5>

        <div *ngIf="profile.isCritic" class="c-inputs">
          <label>Account status: <span class="span-title">critic</span></label>
        </div>
        <div *ngIf="!profile.isCritic" class="c-inputs">
          <label>Account status: <span class="span-title">regular user</span></label>
        </div>
        <div class="c-inputs">
          <label>Joined on: <span class="span-title">2017-03-03</span></label>
        </div>

        <div class="c-avatar">
          <img src="{{profile_url}}" id="profile_image">
          <button class="c-update-btn" id="update-avatar">Update avatar</button>
        </div>

        <div class="c-inputs">
          <label>Name</label>
          <input [placeholder]="profile.username">
        </div>
        <div class="c-inputs">
          <label>Public email</label>
          <input [placeholder]="profile.email">
        </div>
        <div class="c-inputs">
          <label>Bio</label>
          <textarea>{{profile.biography}}</textarea>
        </div>
        <button class="c-update-btn">Update profile</button>
      </section>

      <!--wish list-->
      <div class="container Wish_List_results" *ngIf="currentIndex === 3">
        <section class="l-cards">
          <h2 class="l-cards__title">My Wishlist </h2>
          <a class="l-cards__more w3-margin-right" href="#">more
            <i class="fa fa-angle-double-right"></i>
          </a>

          <ul class="l-cards__list">
            <li class="l-cards__item" *ngFor="let movie of profile.wishList">
              <img src="{{movie.poster}}" alt="" routerLink="/movie/{{movie.imdbId}}">
            </li>

          </ul>
        </section>
      </div>

      <!--not interested list-->
      <div class="container Movie_List_results" *ngIf="currentIndex === 4">
        <section class="l-cards">
          <h2 class="l-cards__title">My Watchlist</h2>
          <a class="l-cards__more w3-margin-right" href="#">more
            <i class="fa fa-angle-double-right"></i>
          </a>

          <ul class="l-cards__list">
            <li class="l-cards__item">
              <a href="#" class="l-cards__image fill"></a>
              <a href="#" class="l-cards__text"></a>
            </li>

            <li class="l-cards__item">
              <a href="#" class="l-cards__image fill"></a>
              <a href="#" class="l-cards__text"></a>
            </li>

            <li class="l-cards__item">
              <a href="#" class="l-cards__image fill"></a>
              <a href="#" class="l-cards__text"></a>
            </li>

            <li class="l-cards__item">
              <a href="#" class="l-cards__image fill"></a>
              <a href="#" class="l-cards__text"></a>
            </li>
            <li class="l-cards__item">
              <a href="#" class="l-cards__image fill"></a>
              <a href="#" class="l-cards__text"></a>
            </li>
          </ul>
        </section>
      </div>

      <!-- reviews -->
      <div class="container My_Critics_results" *ngIf="currentIndex === 5">
        <div class="w3-container w3-padding-large w3-black">

          <div class="testimonial">
            <div class="testimonial-content">
              <div class="testimonial-icon">
                <i class="fa fa-quote-left"></i>
              </div>
              <div class="l_description">
                <p class="description">
                  The Shape of Water is an ingenious fantasy romance that utilizes cold war era elements to the advantage of its premise while
                  subtly challenging our preconceived notions of established archetypes. Del Toro has an innate understanding
                  of portraying beauty of purity in all it's forms while simultaneously showing us the grotesque underbelly
                  and brutality of what it is to be human. These skills help him build a boy meets girl (or girl meets creature
                  xP) fairytale with a believable yet dynamic supporting cast. The story is equal parts gripping as it is
                  touching, overcoming it's formulaic approach by using unlikely characterization and story elements that
                  come seamlessly together. Adding the films success to his repertoire definitely showcases Del Toro's ability
                  to adapt and excel in multiple genres.
                </p>
              </div>
            </div>
            <h3 class="title">{{profile.username}}</h3>
            <span class="post">Critics</span>
          </div>
          <div class="testimonial">
            <div class="testimonial-content">
              <div class="testimonial-icon">
                <i class="fa fa-quote-left"></i>
              </div>
              <div class="l_description">
                <p class="description">
                  The Shape of Water is an ingenious fantasy romance that utilizes cold war era elements to the advantage of its premise while
                  subtly challenging our preconceived notions of established archetypes. Del Toro has an innate understanding
                  of portraying beauty of purity in all it's forms while simultaneously showing us the grotesque underbelly
                  and brutality of what it is to be human. These skills help him build a boy meets girl (or girl meets creature
                  xP) fairytale with a believable yet dynamic supporting cast. The story is equal parts gripping as it is
                  touching, overcoming it's formulaic approach by using unlikely characterization and story elements that
                  come seamlessly together. Adding the films success to his repertoire definitely showcases Del Toro's ability
                  to adapt and excel in multiple genres.
                </p>
              </div>
            </div>
            <h3 class="title">{{profile.username}}</h3>
            <span class="post">Critics</span>
          </div>
          <div class="testimonial">
            <div class="testimonial-content">
              <div class="testimonial-icon">
                <i class="fa fa-quote-left"></i>
              </div>
              <div class="l_description">
                <p class="description">
                  The Shape of Water is an ingenious fantasy romance that utilizes cold war era elements to the advantage of its premise while
                  subtly challenging our preconceived notions of established archetypes. Del Toro has an innate understanding
                  of portraying beauty of purity in all it's forms while simultaneously showing us the grotesque underbelly
                  and brutality of what it is to be human. These skills help him build a boy meets girl (or girl meets creature
                  xP) fairytale with a believable yet dynamic supporting cast. The story is equal parts gripping as it is
                  touching, overcoming it's formulaic approach by using unlikely characterization and story elements that
                  come seamlessly together. Adding the films success to his repertoire definitely showcases Del Toro's ability
                  to adapt and excel in multiple genres.
                </p>
              </div>
            </div>
            <h3 class="title">{{profile.username}}</h3>
            <span class="post">Critics</span>
          </div>
          <div class="show_more w3-margin-right">
            <a class="l-cards__more load_more_movies" href="javascript:void(0)">more
              <i class="fa fa-angle-double-right"></i>
            </a>
          </div>
        </div>


      </div>

      <!--account settings-->
      <section class="c-account" *ngIf="currentIndex === 7">
        <h5 class="c-header">Change password</h5>
          <form target="_blank" #changePasswordForm="ngForm" (submit)="changePassword(changePasswordForm)">

            <div class="c-inputs">
              <label>Password</label>
              <input type="password" name="oldPassword" placeholder="**********" required [(ngModel)]="oldPassword">
            </div>

            <div class="c-inputs">
              <label>New Password</label>
              <input type="password" name="newPassword" placeholder="**********" required [(ngModel)]="newPassword">
            </div>

            <button type="submit" class="c-update-btn">Update password</button>
          </form>

        <!-- change username-->
        <h5 class="c-header">Change username</h5>
        <form>
          <div class="c-inputs">
            <label>Changing your username can have unintended side effects.</label>
            <input [placeholder]="profile.username">
            <button class="c-update-btn">Change username</button>
          </div>
        </form>

        <h5 class="c-header span-warning">Delete account</h5>
        <form>
          <div class="c-inputs">
            <label>Once you delete your account, there is no going back. Please be certain!</label>
            <button class="c-update-btn" style="margin-top: 0;">Delete account</button>
          </div>
        </form>

      </section>

    </div>
        <!--./right content-->
    </div>
      <!--./row-->
    </div>
    <!--./container-->
  </main>
</body>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Change Profile Image</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      This is the uploading images section
    </p>

    <input type="file" (change)="upload($event)" required class="form-control " name="attach_file" id="attach_file">

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

</html>
